﻿@model WebApp.ViewModels.InvoiceReport.InvoiceReportViewModel
<div class="table-responsive">
    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>No. Factura</th>
                <th>No. Factura</th>
                <th>Fecha Factura</th>
                <th>Cliente</th>
                <th>Descuento</th>
                <th>Subtotal</th>
                <th>ITBIS %</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (!Model.InvoiceReportDto.Any())
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="font-bold"> No se encontraron resultados </div>
                        </td>
                        <td> para esta Busqueda</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {
                    foreach (var invoice in Model.InvoiceReportDto)//.GroupBy(x => new {x.InvoiceNumber,x.InvoiceDate,x.CustomerName}))
                    {
                        <tr>
                            <td>@invoice.InvoiceNumber</td>
                            <td></td>
                            <td>@invoice.InvoiceDate</td>
                            <td>@invoice.CustomerName</td>
                            <td>
                                <div class="text-right">@Model.InvoiceReportDto.Where(x => x.InvoiceNumber.Equals(invoice.InvoiceNumber)).ToList().Sum(x => x.Discount)</div>
                            </td>
                            <td>
                                <div class="text-right">@Model.InvoiceReportDto.Where(x => x.InvoiceNumber.Equals(invoice.InvoiceNumber)).ToList().Sum(x=> x.Subtotal)</div>
                            </td>
                            <td>
                                <div class="text-right">@Model.InvoiceReportDto.Where(x => x.InvoiceNumber.Equals(invoice.InvoiceNumber)).ToList().Sum(x => x.Tax)</div>
                            </td>
                            <td>
                                <div class="text-right">@Model.InvoiceReportDto.Where(x => x.InvoiceNumber.Equals(invoice.InvoiceNumber)).ToList().Sum(x => x.Total)</div>
                            </td>
                        </tr>
                    }

                }

            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // Jquery Datatable
        $(".datatable")
            .dataTable({
                language: {
                    url: "../Scripts/plugins/dataTables/Spanish.json"
                },
                "columnDefs": [
                   { "visible": false, "targets": 0 }
                ],
                "order": [],
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(0, { page: 'current' })
                        .data()
                        .each(function (group, i) {
                            if (last !== group) {
                                $(rows)
                                    .eq(i)
                                    .before(
                                        '<tr class="group"><td colspan="9"><strong>' + group + '</strong></td></tr>'
                                    );

                                last = group;
                            }
                        });
                },
            });

    });
</script>