﻿@{
    Layout = null;

}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DentaDom | 404 Error</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg" >

    
    <div class="middle-box text-center animated fadeInDown">
            <br /><br /><br /><br /><br />
            <img src="~/fonts/logo.png" />
            <h1>404</h1>
            <h3 class="font-bold">Pagina no Encontrada</h3>

            <div class="error-desc">
                Lo sentimos,  pero la pagina que esta buscando no ha sido encontrada. Intente buscar el error en la direcci&oacute;n URL y refrescando la pagina, o intente con otra direccion conocida de nuestra aplicacion web.
            </div>
    </div>


</body>

</html>

