﻿
@{
    Layout = null;

}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DentaDom | 500 Error</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <br /><br /><br /><br /><br />
        <img src="~/fonts/logo.png" />
        <h1>500</h1>
        <h3 class="font-bold">Error Interno del Servidor</h3>

        <div class="error-desc">
            Lo sentimos. El servidor a encontrado algo inexperado que no le permitio completar el pedido.
            <br />
            Puedes volver a la pagina principal:<br />
            <a href="@Url.Action( "Dashboard","Home")" class="btn btn-primary m-t">Dashboard</a>
        </div>
    </div>

</body>

</html>

