﻿@model MedicalHistoryViewModel
@{
    ViewBag.Title = "Historial Medico";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Historial Medico</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                Pacientes
            </li>
            <li class="active">
                <strong>Historial Medico</strong>
            </li>
        </ol>
        <a class="btn btn-primary pull-right hidden-xs imprimir" href="@Url.Action("Print","MedicalHistory")/@Model.PatientId" target="_blank"><span class="fa fa-print m-l-xs"></span>Imprimir</a>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
        <div class="content">
            <div class="content-wrap m-md">
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <h1>@(Model.Patient.Name + " " + Model.Patient.LastName )</h1>
                        <br /><br />
                        <strong>Informacion de Contacto</strong>
                        <ul class="list-group clear-list">
                            <li id="phone-number" class="list-group-item fist-item">
                                <span class="pull-right"> @Model.Patient.PhoneNumber <span class="badge">@Model.Patient.PhoneType</span></span>
                                Telefono:
                            </li>
                            @if (Model.Patient.Email != null)
                            {
                                <li id="patient-email" class="list-group-item">
                                    <span class="pull-right">@Model.Patient.Email</span>
                                    Email:
                                </li>
                            }
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                    <div class="swaper">
                        <div class="col-lg-6 col-xs-12 m-t-md swap-div animated fadeIn">
                            <strong>Indices de Adecuacion Bucal</strong>
                            <span class="pull-right"><a class="btn btn-primary swap-button btn-sm hidden-xs">Actualizar</a></span>
                            <ul class="list-group clear-list m-t-xs">
                                <li class="list-group-item fist-item">
                                    <span id="LPDI" class="pull-right"> @Model.PDI </span>
                                    Indice de Periodontitis:
                                </li>
                                <li class="list-group-item">
                                    <span id="LGI" class="pull-right">@Model.GI</span>
                                    Indice Gingival:
                                </li>
                                <li class="list-group-item">
                                    <span id="LPlI" class="pull-right">@Model.PlI</span>
                                    Indice de Placa:
                                </li>
                                <li class="list-group-item">
                                    <span id="LSHI" class="pull-right">@Model.SHI</span>
                                    Indice de Higiene:
                                </li>
                                <li class="list-group-item"></li>
                            </ul>

                        </div>
                        <div class="col-lg-5 col-lg-offset-1 m-t-xl swap-div animated fadeIn hidden">
                            @using (Html.BeginForm("UpdateOralAdequacyIndexes", "MedicalHistory", FormMethod.Post, new { id = "UpdateOralAdequacyIndexes-form", @class = "form-horizontal" }))
                            {
                                @Html.HiddenFor(x => x.Id)

                                @Html.HiddenFor(x => x.PatientId)

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12 col-xs-8">
                                                    @Html.LabelFor(x => x.PDI, new { @class = "control-label" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-xs-12">
                                                    @Html.TextBoxFor(x => x.PDI, new { @class = "form-control", placeholder = "PDI", tabindex = "1", type = "number", min = "0", max = "99", required = "" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12 col-xs-8">
                                                    @Html.LabelFor(x => x.GI, new { @class = "control-label" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-xs-12">
                                                    @Html.TextBoxFor(x => x.GI, new { @class = "form-control", placeholder = "GI", tabindex = "1", type = "number", min = "0", max = "99", required = "" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12 col-xs-8">
                                                    @Html.LabelFor(x => x.PlI, new { @class = "control-label" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-xs-12">
                                                    @Html.TextBoxFor(x => x.PlI, new { @class = "form-control", placeholder = "PlI", type = "number", min = "0", max = "99", tabindex = "1", required = "" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12 col-xs-8">
                                                    @Html.LabelFor(x => x.SHI, new { @class = "control-label" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-xs-12">
                                                    @Html.TextBoxFor(x => x.SHI, new { @class = "form-control", placeholder = "SHI", type = "number", min = "0", max = "99", tabindex = "1", required = "" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-r-xs">
                                    <button class="btn btn-success pull-right">Guardar</button> <a class="btn btn-default pull-right m-r-xs swap-button">Cancel</a>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="swaper">
                        <div class="col-lg-4 col-xs-12 m-t-md swap-div animated fadeIn">
                            <strong>Alergias</strong> <span class="pull-right"><a class="btn btn-primary swap-button btn-sm hidden-xs">Actualizar</a></span>
                            <ul class="list-group clear-list alergies-list">
                                @if (Model.Condictions != null)
                                {
                                    var count = 0;
                                    foreach (var alergy in Model.Condictions)
                                    {
                                        if (alergy.Type == 1)
                                        {
                                            <li id="condition@(alergy.Id)" class="list-group-item @(count++ == 0 ?"fist-item":"")">
                                                @alergy.Description
                                            </li>
                                        }
                                    }
                                    if (count == 0)
                                    {
                                        <li class="list-group-item fist-item">
                                            Ninguna
                                        </li>
                                    }
                                }

                            </ul>

                        </div>
                        <div class="col-lg-4 col-xs-12 m-t-md swap-div animated fadeIn hidden">
                            <strong>Alergias</strong>
                            <ul class="list-group clear-list alergies-list-delete">
                                @if (Model.Condictions != null)
                                {
                                    var count = 0;
                                    foreach (var alergy in Model.Condictions)
                                    {
                                        if (alergy.Type == 1)
                                        {
                                            <li class="list-group-item @(count++ == 0 ? "fist-item" : "")">
                                                <a class="fa fa-times condition-delete" style="color:red" data-delete="@alergy.Id"></a> @alergy.Description
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                            @using (Html.BeginForm("AddCondition", "MedicalHistory", FormMethod.Post, new { id = "AddAlergies", @class = "form-horizontal" }))
                            {
                                <input type="hidden" value="@Model.Id" name="MedicalHistoryId" id="MedicalHistoryId" />
                                <input type="hidden" value="1" name="Type" id="Type" />
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Description" id="Description" placeholder="Alergia" required>
                                </div>
                                <div class="row m-r-xs">
                                    <button class="btn btn-success pull-right">Guardar</button> <a class="btn btn-default pull-right m-r-xs swap-button">Cancel</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="swaper">
                        <div class="col-lg-4 col-xs-12 m-t-md swap-div animated fadeIn">
                            <strong>Enfermedades</strong>
                            <span class="pull-right"><a class="btn btn-primary swap-button btn-sm hidden-xs">Actualizar</a></span>
                            <ul class="list-group clear-list illness-list">
                                @if (Model.Condictions != null)
                                {
                                    var count = 0;
                                    foreach (var illness in Model.Condictions)
                                    {
                                        if (illness.Type == 2)
                                        {
                                            <li id="condition@(illness.Id)" class="list-group-item @(count++ == 0 ?"fist-item":"")">
                                                @illness.Description
                                            </li>
                                        }
                                    }
                                    if (count == 0)
                                    {
                                        <li class="list-group-item fist-item">
                                            Ninguna
                                        </li>
                                    }
                                }

                            </ul>

                        </div>
                        <div class="col-lg-4 col-xs-12 m-t-md swap-div animated fadeIn hidden">
                            <strong>Enfermedades</strong>
                            <ul class="list-group clear-list illness-list-delete">
                                @if (Model.Condictions != null)
                                {
                                    var count = 0;
                                    foreach (var illness in Model.Condictions)
                                    {
                                        if (illness.Type == 2)
                                        {
                                            <li class="list-group-item @(count++ == 0 ? "fist-item" : "")">
                                                <a class="fa fa-times condition-delete" style="color:red" data-delete="@illness.Id"></a> @illness.Description
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                            @using (Html.BeginForm("AddCondition", "MedicalHistory", FormMethod.Post, new { id = "AddIllness", @class = "form-horizontal" }))
                            {
                                <input type="hidden" value="@Model.Id" name="MedicalHistoryId" id="MedicalHistoryId" />
                                <input type="hidden" value="2" name="Type" id="Type" />
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Description" id="Description" placeholder="Enfermedad" required>
                                </div>
                                <div class="row m-r-xs">
                                    <button class="btn btn-success pull-right">Guardar</button> <a class="btn btn-default pull-right m-r-xs swap-button">Cancel</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="swaper">
                        <div class="col-lg-4 col-xs-12 m-t-md swap-div animated fadeIn">
                            <strong>Medicamentos</strong>
                            <span class="pull-right"><a class="btn btn-primary swap-button btn-sm hidden-xs">Actualizar</a></span>
                            <ul class="list-group clear-list medications-list">
                                @if (Model.Medications != null)
                                {
                                    var count = 0;
                                    foreach (var medication in Model.Medications)
                                    {

                                        <li id="medication@(medication.Id)" class="list-group-item @(count++ == 0 ?"fist-item":"")">
                                            @medication.Description
                                        </li>

                                    }
                                    if (count == 0)
                                    {
                                        <li class="list-group-item fist-item">
                                            Ninguno
                                        </li>
                                    }
                                }

                            </ul>

                        </div>
                        <div class="col-lg-4 col-xs-12 m-t-md swap-div animated fadeIn hidden">
                            <strong>Medicamentos</strong>
                            <ul class="list-group clear-list medications-list-delete">
                                @if (Model.Medications != null)
                                {
                                    var count = 0;
                                    foreach (var medication in Model.Medications)
                                    {
                                        <li class="list-group-item @(count++ == 0 ? "fist-item" : "")">
                                            <a class="fa fa-times medication-delete" style="color:red" data-delete="@medication.Id"></a> @medication.Description
                                        </li>
                                    }
                                }
                            </ul>
                            @using (Html.BeginForm("AddMedication", "MedicalHistory", FormMethod.Post, new { id = "AddMedication", @class = "form-horizontal" }))
                            {
                                <input type="hidden" value="@Model.Id" name="MedicalHistoryId" id="MedicalHistoryId" />
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Description" id="Description" placeholder="Medicamento" required>
                                </div>
                                <div class="row m-r-xs">
                                    <button class="btn btn-success pull-right">Guardar</button> <a class="btn btn-default pull-right m-r-xs swap-button">Cancel</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12 m-t-md swap-div animated fadeIn">
                        <strong>Historial</strong>

                        <div class="table-responsive">
                            <table id="table1" class="table table-condensed m-t-xs">
                                <thead>
                                    <tr>
                                        <th width="30px">&nbsp;</th>
                                        <th>Fecha</th>
                                        <th>Tratamiento</th>
                                        <th>Diagnostico</th>
                                        <th>Adjunto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Treatments.Count > 0)
                                    {
                                        foreach (var treatment in Model.Treatments)
                                        {
                                            <tr>
                                                <th><a class="fa fa-times treatment-delete hidden" style="color:red" data-delete="@treatment.Id"></a></th>
                                                <th>@treatment.Date</th>
                                                <th>@treatment.Description</th>
                                                <th>@treatment.Result</th>
                                                <th><a class="unstyled display-image" data-image="@treatment.Id">@treatment.AttachmentName</a></th>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr id="remove-row">
                                            <td colspan="4" class="m-t-xs text-center"><strong>Ninguno</strong></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="swaper m-t-sm">
                        <div class="row m-r-xs swap-div animated fadeIn">
                            <span class="pull-right"><a class="btn btn-primary swap-button table-toggle btn-sm hidden-xs">Actualizar</a></span>
                        </div>
                        <div class="row m-l-xs swap-div  animated fadeIn hidden">
                            @using (Html.BeginForm("addTreatment", "MedicalHistory", FormMethod.Post, new { id = "addTreatment", @class = "form-horizontal" }))
                            {
                                <input type="hidden" value="@Model.Id" name="MedicalHistoryId" id="MedicalHistoryId" />
                                <div class="row">
                                    <div class="col-lg-2 col-xs-12 m-t-xs ">
                                        <div class="row">
                                            <label>Fecha</label>
                                        </div>
                                        <div class="row">
                                            <div id="data_1" class="input-group date col-lg-11 col-xs-11">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input id="Date" name="Date" type="text" class="form-control" placeholder="dd/mm/yyyy" data-mask="99/99/9999" required="" style="width:98%" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-xs-11 m-t-xs">
                                        <div class="row">
                                            <label>Procedimiento</label>
                                        </div>
                                        <div class="row">
                                            <select class="form-control" name="Description" id="procedure" style="width:98%" required></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-xs-11 m-t-xs">
                                        <div class="row">
                                            <label>Diagnostico</label>
                                        </div>
                                        <div class="row">
                                            <textarea class="form-control" id="Result" name="Result" placeholder="resutaldo" style="width:98%"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-xs-11 m-t-xs">
                                        <div class="row">
                                            <label>Adjunto</label>
                                        </div>
                                        <div class="row">
                                            <input type="file" name="Attachment" id="Attachment" accept="image/*" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-sm m-r-xs">
                                    <div class="col-lg-12 col-xs-11">
                                        <button class="btn btn-success pull-right">Agregar</button>
                                        <a class="btn btn-default table-toggle swap-button pull-right m-r-xs">Terminar</a>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="treatmentImageModal">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adjunto</h4>
            </div>
            <div class="modal-body">
                <div class="carousel slide" id="carousel1">
                    <div class="carousel-inner">
                        <div id="image-loader" class="">

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Styles {
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/tooltipsterStyles")
    <style>
        .display-image,
        .imprimir,
        .treatment-delete .condition-delete,
        .medication-delete,
        .alergies-list,
        .illness-list,
        .medications-list,
        .alergies-list-delete,
        .illness-list-delete,
        .medications-list-delete,
        .table-toggle,
        .swap-button,
        .swap-div,
        .swaper {
        }

        #image-loader img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            height: 300px;
            width: 300px;
        }

        .list-container {
            max-height: 450px;
            width: 100%;
            margin: 0;
            overflow-y: auto;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/tooltipster")
    @Scripts.Render("~/plugins/validate")
    <script>
        $('document').ready(function () {


            $('body tbody').on('click', '.display-image', function () {
                var a =$(this).attr('data-image');
                $("#image-loader").load('@Url.Content("~/MedicalHistory/ShowImage/")' + a);
                $('#treatmentImageModal').modal('show');
            });

            $('#data_1.input-group.date').datepicker({
                startView: 0,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy'
            });
            $('#data_1.input-group.date').datepicker('setDate', new Date());
            $('#data_1.input-group.date').datepicker('update');

            $('.swap-button').click(function (event) {
                let $SwaperDiv = $(this).closest('.swaper');
                $($SwaperDiv).find('form')[0].reset();
                allerval.resetForm();
                illnesval.resetForm();
                medval.resetForm();
                treatval.resetForm();
                $('#data_1.input-group.date').datepicker('setDate', new Date());
                let $swapDivs = $SwaperDiv.children('.swap-div');
                $swapDivs.each(function (index,value) {
                    $(value).toggleClass( "hidden" )
                });
            });

            $('.alergies-list-delete').on('click','.condition-delete',function () {
                var alergy = { Id: $(this).attr('data-delete') };
                let jsondata = JSON.stringify(alergy);
                let context = $(this);
                $.ajax({
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'JSON',
                    type: 'POST',
                    url: '@Url.Action("DeleteCondition", "MedicalHistory")',
                    data: jsondata,
                    success: function (r) {
                        $('#condition' + alergy.Id).remove();
                        context.closest('li').remove();
                        $('.alergies-list li').first().removeClass('fist-item').addClass('fist-item')
                        $('.alergies-list-delete li').first().removeClass('fist-item').addClass('fist-item')
                        if ($('.alergies-list').has("li").length == 0) {
                            $('.alergies-list').append('<li class="list-group-item fist-item">Ninguna</li>')
                        }
                    }
                });
            });

            $('.illness-list-delete').on('click', '.condition-delete', function () {
                var illness = { Id: $(this).attr('data-delete') };
                let jsondata = JSON.stringify(illness);
                let context = $(this);
                $.ajax({
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'JSON',
                    type: 'POST',
                    url: '@Url.Action("DeleteCondition", "MedicalHistory")',
                    data: jsondata,
                    success: function (r) {
                        $('#condition' + illness.Id).remove();
                        context.closest('li').remove();
                        $('.illness-list li').first().removeClass('fist-item').addClass('fist-item')
                        $('.illness-list-delete li').first().removeClass('fist-item').addClass('fist-item')
                        if ($('.illness-list').has("li").length == 0) {
                            $('.illness-list').append('<li class="list-group-item fist-item">Ninguna</li>')
                        }
                    }
                });


            });

            $('.medications-list-delete').on('click', '.medication-delete', function () {
                let medication = { Id: $(this).attr('data-delete') };
                let jsondata = JSON.stringify(medication);
                let context = $(this);
                $.ajax({
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'JSON',
                    type: 'POST',
                    url: '@Url.Action("DeleteMedication", "MedicalHistory")',
                    data:jsondata,
                    success: function (r) {
                        $('#medication' + medication.Id).remove();
                        context.closest('li').remove();
                        $('.medications-list li').first().removeClass('fist-item').addClass('fist-item')
                        $('.medications-list-delete li').first().removeClass('fist-item').addClass('fist-item')
                        if ($('.medications-list').has("li").length == 0) {
                            $('.medications-list').append('<li class="list-group-item fist-item">Ninguno</li>')
                        }
                    }
                });

            });

            $('#UpdateOralAdequacyIndexes-form').submit(function (event) {
                if($(this).valid()){
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        $('#LPDI').html(r.PDI);
                        $('#LGI').html(r.GI);
                        $('#LPlI').html(r.PlI);
                        $('#LSHI').html(r.SHI);
                        location.reload();
                    }
                });
                }
                return false;
            });

            $('#AddAlergies').submit(function (event) {
                if($(this).valid()){
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        form[0].reset();
                        allerval.resetForm();
                        if ($('.alergies-list-delete').has("li").length == 0) {
                            $('.alergies-list').html("");
                        }

                        $('.alergies-list').append('<li id="condition' + r.Id + '"class="list-group-item ' + ($('.alergies-list').has("li").length ? "" : "fist-item") + '">' + r.Description + '</li>')
                        $('.alergies-list-delete').append('<li id="condition' + r.Id + '"class="list-group-item ' + ($('.alergies-list-delete').has("li").length ? "" : "fist-item") + '">' +
                                             '<a class="fa fa-times condition-delete" style="color:red" data-delete="'+ r.Id+'"></a>'+ r.Description+'</li>');
                    }
                });

                }
                return false;
            });

            $('#AddIllness').submit(function (event) {
                if (!$(this).valid()) {
                    return false;
                }
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        form[0].reset();
                        illnesval.resetForm();
                        if ($('.illness-list-delete').has("li").length == 0) {
                            $('.illness-list').html("");
                        }
                        $('.illness-list').append('<li id="condition' + r.Id + '"class="list-group-item ' + ($('.illness-list').has("li").length ? "" : "fist-item") + '">' + r.Description + '</li>')
                        $('.illness-list-delete').append('<li id="condition' + r.Id + '"class="list-group-item ' + ($('.illness-list-delete').has("li").length ? "" : "fist-item") + '">' +
                                                '<a class="fa fa-times condition-delete" style="color:red" data-delete="' + r.Id + '"></a>' + r.Description + '</li>');
                    }
                });

                return false;
            });

            $('#AddMedication').submit(function (event) {
                if($(this).valid()){
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        form[0].reset();
                        medval.resetForm();
                        if ($('.medications-list-delete').has("li").length == 0) {
                            $('.medications-list').html("");
                        }
                        $('.medications-list').append('<li id="medication' + r.Id + '"class="list-group-item ' + ($('.medications-list').has("li").length ? "" : "fist-item") + '">' + r.Description + '</li>')
                        $('.medications-list-delete').append('<li id="#medication' + r.Id + '"class="list-group-item ' + ($('.medications-list-delete').has("li").length ? "" : "fist-item") + '">' +
                                                '<a class="fa fa-times medication-delete" style="color:red" data-delete="' + r.Id + '"></a>' + r.Description + '</li>');
                    }
                });
                }
                return false;
            });

            $('#addTreatment').submit(function (event) {
                if ($(this).valid()) {

                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        form[0].reset();
                        treatval.resetForm();
                        if ($('#table1 tbody').has("tr#remove-row").length) {
                            $('tr#remove-row').remove();

                        }
                        $('#table1 tbody').append('<tr> <th><a class="fa fa-times treatment-delete hiden" style="color:red" data-delete ="'+r.Id +'"></a></th>' +
                         '<th>' + r.Date + '</th> <th>' + r.Description + '</th><th>' +(r.Result ==null?"":r.Result) + '</th>'+
                         '<th><a class="unstyled display-image" data-image="' + r.Id + '">' + (r.AttachmentName == null ? "" : r.AttachmentName) + '</a></th></tr>');
                        $(form)[0].reset();
                        $('#data_1.input-group.date').datepicker('setDate', new Date());

                    }
                });
                }
                return false;
            });
            $('.table-toggle').click(function () {
                var a = $('#table1 tbody');
                $('.treatment-delete').toggleClass('hidden');

            });
            $('#table1 tbody').on('click', 'tr a.treatment-delete', function () {
                let treatment = { Id: $(this).attr('data-delete') };
                let jsondata = JSON.stringify(treatment);
                let context = $(this);
                $.ajax({
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'JSON',
                    type: 'POST',
                    url: '@Url.Action("DeleteTreatment", "MedicalHistory")',
                    data: jsondata,
                    success: function (r) {
                        context.closest('tr').remove();
                    }
                });
            });

            $.ajax({
                url: '@Url.Action("MedicalProceduresFeed", "Maintenance")',
                dataType: 'json',
                delay: 250,
                cache: true,
                success: function (data) {
                    var jsonObj = [];
                    $.each(data, function (key, value) {
                        debugger;
                        let dataSelect2 = {};
                        dataSelect2.id = value.Description;
                        dataSelect2.text = value.Description;
                        jsonObj.push(dataSelect2);
                    });
                    $('#procedure').select2({
                        placeholder: "Seleccione un procedimiento",
                        allowClear: true,
                        data: jsonObj

                    });
                }
            });

          var treatval = $("#addTreatment").validate({
                rules: {
                    Date: {
                        required: true
                    },
                    Description: {
                        required:true
                    }

                },
                messages: {
                    Date: {
                        required: "Por favor Introduzca una fecha"
                    },
                    Description: {
                        required: "Por favor seleccione un procedimiento"
                    }
                }
            });
           var medval = $("#AddMedication").validate({
                rules: {
                    Description: {
                        required: true
                    }
                },
                messages: {
                    Description: {
                        required: "Por favor Introduzca un medicamento"
                    }
                }
            });
          var illnesval =  $("#AddIllness").validate({
                rules: {
                    Description: {
                        required: true
                    }
                },
                messages: {
                    Description: {
                        required: "Por favor Introduzca su enfermedad"
                    }
                }
            });
           var allerval = $("#AddAlergies").validate({
                rules: {
                    Description: {
                        required: true
                    }
                },
                messages: {
                    Description: {
                        required: "Por favor la alergia"
                    }
                }
           });

           var iavval = $("#UpdateOralAdequacyIndexes-form").validate({
               rules: {
                   PDI: {
                       required: true,
                       max: 100,
                       min:0
                   },
                   GI: {
                       required: true,
                       max: 100,
                       min:0
                   },
                   SHI: {
                       required: true,
                       max: 100,
                       min: 0
                   },
                   PlI: {
                       required: true,
                       max: 100,
                       min: 0
                   }
               },
               messages: {
                   PDI: {
                       required: "El campo es requerido",
                       max: "El valor maximo es 100",
                       min: "El valor minimo"
                   },
                   GI: {
                       required: "El campo es requerido",
                       max: "El valor maximo es 100",
                       min: "El valor minimo"
                   },
                   SHI: {
                       required: "El campo es requerido",
                       max: "El valor maximo es 100",
                       min: "El valor minimo"
                   },
                   PlI: {
                       required: "El campo es requerido",
                       max: "El valor maximo es 100",
                       min: "El valor minimo"
                   }
               }
           });

        })
    </script>
}
