﻿@model MedicalHistoryViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>DentaDom | Historial Medico</title>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <!-- Primary Inspinia style -->
        @Styles.Render("~/Content/css")
        @Styles.Render("~/font-awesome/css")
        <style>
            body {
             color: black;
            }
        </style>
    </head>
    <body class="white-bg">
        <div id="printarea">
            <div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
                <div class="content">
                    <div class="content-wrap m-md">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <h1>@(Model.Patient.Name + " " + Model.Patient.LastName )</h1>
                                <br /><br />
                                <strong>Informacion de Contacto</strong>
                                <ul class="list-group clear-list">
                                    <li id="phone-number" class="list-group-item fist-item">
                                        <span class="pull-right"> @Model.Patient.PhoneNumber <span class="badge">@Model.Patient.PhoneType</span></span>
                                        Telefono:
                                    </li>
                                    @if (Model.Patient.Email != null) { 
                                    <li id="patient-email" class="list-group-item">
                                        <span class="pull-right">@Model.Patient.Email</span>
                                        Email:
                                    </li>
                                    }
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xs-12 m-t-md swap-div animated fadeIn">
                                    <strong>Indices de Adecuacion Bucal</strong>
                                    <ul class="list-group clear-list m-t-xs">
                                        <li id="phone-number" class="list-group-item fist-item">
                                            <span class="pull-right"> @Model.PDI </span>
                                            Indice de Periodontitis:
                                        </li>
                                        <li id="patient-email" class="list-group-item">
                                            <span class="pull-right">@Model.GI</span>
                                            Indice Gingival:
                                        </li>
                                        <li id="patient-email" class="list-group-item">
                                            <span class="pull-right">@Model.PlI</span>
                                            Indice de Placa:
                                        </li>
                                        <li id="patient-email" class="list-group-item">
                                            <span class="pull-right">@Model.SHI</span>
                                            Indice de Higiene:
                                        </li>
                                        
                                    </ul>
                                </div>
                        </div>
                        <div class="row" style="page-break-after:always">
                            <div class="col-lg-4 col-xs-12 m-t-md swap-div animated fadeIn">
                                <strong>Alergias</strong>
                                <ul class="list-group clear-list alergies-list">
                                    @if (Model.Condictions != null)
                                    {
                                        var count = 0;
                                        foreach (var alergy in Model.Condictions)
                                        {
                                            if (alergy.Type == 1)
                                            {
                                                <li id="condition@(alergy.Id)" class="list-group-item @(count++ == 0 ?"fist-item":"")">
                                                    @alergy.Description
                                                </li>
                                            }
                                        }
                                        if (count == 0)
                                        {
                                            <li class="list-group-item fist-item">
                                                Ninguna
                                            </li>
                                        }
                                    }
                                  
                                </ul>
                            </div>
                            <div class="col-lg-4 col-xs-12 m-t-md swap-div animated fadeIn">
                                <strong>Enfermedades</strong>
                                <ul class="list-group clear-list illness-list">
                                    @if (Model.Condictions != null)
                                    {
                                        var count = 0;
                                        foreach (var illness in Model.Condictions)
                                        {
                                            if (illness.Type == 2)
                                            {
                                                <li id="condition@(illness.Id)" class="list-group-item @(count++ == 0 ?"fist-item":"")">
                                                    @illness.Description
                                                </li>
                                            }
                                        }
                                        if (count == 0)
                                        {
                                            <li class="list-group-item fist-item">
                                                Ninguna
                                            </li>
                                        }
                                        
                                    }
                                 
                                </ul>
                            </div>                        
                            <div class="col-lg-4 col-xs-12 m-t-md swap-div animated fadeIn ">
                                <strong>Medicamentos</strong>
                                <ul class="list-group clear-list medications-list">
                                    @if (Model.Medications != null )
                                    {
                                        var count = 0;
                                        foreach (var medication in Model.Medications)
                                        {

                                            <li id="medication@(medication.Id)" class="list-group-item @(count++ == 0 ?"fist-item":"")">
                                                @medication.Description
                                            </li>

                                        }
                                        if (count == 0)
                                        {
                                            <li class="list-group-item fist-item">
                                                Ninguno
                                            </li>
                                        }
                                    }
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-lg-12 col-xs-12 m-t-md swap-div animated fadeIn">
                                <strong>Historial</strong>
                                <div class="table-responsive">
                                    <table id="table1" class="table table-condensed m-t-xs">
                                        <thead>
                                            <tr>
                                                <th width="30px">&nbsp;</th>
                                                <th>Fecha</th>
                                                <th>Tratamiento</th>
                                                <th>Diagnostico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Treatments.Count > 0)
                                            {
                                                foreach (var treatment in Model.Treatments)
                                                {
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th>@treatment.Date</th>
                                                        <th>@treatment.Description</th>
                                                        <th>@treatment.Result</th>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr id="remove-row">
                                                    <td colspan="4" class="m-t-xs text-center"><strong>Ninguno</strong></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/bundles/inspinia")
            <script>
                $('document').ready(function () {
                    setTimeout(function () {
                        window.print()
                        document.close();
                        window.close();
                    }, 300);
                })
            </script>
 
    </body>

</html>
