﻿@model UpdateProductViewModel
@{
    ViewBag.Title = "Materiales";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Materiales Gastables</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Home")">Home</a>
            </li>
            <li>
                Inventario
            </li>
            <li class="active">
                <strong>Materiales</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<!--Material Table-->
<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
    <div class="row m-b-xs">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <a class="m-r-xs btn btn-primary pull-right" data-toggle="modal" data-target="#CreateProductModal"><span class="fa fa-shopping-cart m-l-xs"></span> Nuevo Producto &nbsp;</a>


        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="table-responsive">
                <table class="table  table-bordered  dataTables-example table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>SuplidoresId</th>
                            <th>Suplidores</th>
                            <th>Costo Unitario</th>
                            <th>Cantidad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<!--Create Product Modal-->
<div class="modal fade" id="CreateProductModal" style="overflow:hidden;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Nuevo Producto</h4>
            </div>
            @using (Html.BeginForm("CreateProduct", "Inventory", FormMethod.Post, new { @class = "form-horizontal", id = "CreateProductForm" }))
            {
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Articulo", minlength = "2", tabindex = "1", required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="copygroup">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Brand, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row" id="copyrow">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Brand, new { @class = "form-control", tabindex = "2", placeholder = "Categoria DKW", required = " " })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.UnitCost, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.UnitCost, new { @class = "form-control", placeholder = "Costo unitario", tabindex = "3", required = "", type = "number" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.SupplierId, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                <select name="SupplierId" id="CreateSupplier" style="width:100%" tabindex="4" multiple required></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Quantity, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", placeholder = "Cantidad", tabindex = "5", type = "number", min = "0", required = "" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button class="btn btn-primary create-product">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

<!--Update Product Modal-->
<div class="modal fade" id="UpdateProductModal" style="overflow:hidden;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Actualizar Producto</h4>
            </div>
            @using (Html.BeginForm("UpdateProduct", "Inventory", FormMethod.Post, new { @class = "form-horizontal", id = "UpdateProductForm" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Articulo", minlength = "2", tabindex = "1", required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="copygroup">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Brand, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row" id="copyrow">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Brand, new { @class = "form-control", tabindex = "2", placeholder = "Categoria DKW", required = " " })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.UnitCost, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.UnitCost, new { @class = "form-control", placeholder = "Costo unitario", tabindex = "3", required = "", type = "number" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.SupplierId, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                <select name="SupplierId" id="UpdateSupplier" style="width:100%" tabindex="4" multiple required></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button class="btn btn-primary">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>


<!--add Product Modal-->
<div class="modal fade" id="AddProductModal" style="overflow:hidden;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Agregar Articulo</h4>
            </div>
            @using (Html.BeginForm("AddProduct", "Inventory", FormMethod.Post, new { @class = "form-horizontal", id = "AddProductForm" }))
            {
                <div class="modal-body">
                    <input type="hidden" name="ProductId" id="ProductId" value="" />
                    <input type="hidden" name="Type" id="Type" value="2" />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Articulo", minlength = "2", tabindex = "1", required = "", disabled = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Quantity, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", placeholder = "Cantidad", tabindex = "5", type = "number", min = "1", required = "" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button class="btn btn-primary create-product">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>
<!--remove Product Modal-->
<div class="modal fade" id="RemoveProductModal" style="overflow:hidden;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Remover Articulo</h4>
            </div>
            @using (Html.BeginForm("RemoveProduct", "Inventory", FormMethod.Post, new { @class = "form-horizontal", id = "RemoveProductForm" }))
            {
                <div class="modal-body">
                    <input type="hidden" name="ProductId" id="ProductId" value="" />
                    <input type="hidden" name="Type" id="Type" value="1" />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Articulo", minlength = "2", tabindex = "1", required = "", disabled = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Quantity, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", placeholder = "Cantidad", tabindex = "5", type = "number", min = "0", required = "" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button class="btn btn-primary create-product">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/tooltipsterStyles")


    <style>
        .add-product,
        .remove-product,
        .clearTooltip {
        }

        .select2-close-mask {
            z-index: 2099;
        }

        .select2-dropdown {
            z-index: 3051;
        }

        span.select2-container {
            z-index: 10050;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/tooltipster")
    @Scripts.Render("~/plugins/select2")


    <script type="text/javascript">
        $(document).ready(function () {
            //$.fn.modal.Constructor.prototype.enforceFocus = function () { };
        $.fn.dataTable.ext.errMode = 'throw';
        $('.dataTables-example').DataTable({
            pageLength: 10,
            dom: '<"html5buttons"B>lTfgitp',
            "language": {
                "emptyTable": "<strong>No hay registros disponibles</strong>",
                "lengthMenu": "Mostrando _MENU_ Registros por pagina",
                "zeroRecords": "No se encontro nada con el criterio de busqueda",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "",
                "search": "<span class='fa fa-search m-r-xs' ></span>Buscar:",
                "paginate": {
                    "next": "Proximo",
                    "previous": "Anterior"
                }
            },
            ajax: {
                url: '@Url.Action("ProductsFeed", "Inventory")',
                dataSrc: ''
            },
            columns: [
                { "data": "Id" },
                { "data": "Name" },
                { "data": "Brand" },
                { "data": "SupplierIds" },
                { "data": "Suppliers" },
                { "data": "UnitCost" },
               { "data": "Quantity" },
               { "data": null }

            ],
            "columnDefs": [
                   {
                       "targets": [0,3],
                       "visible": false,
                       "searchable": false
                   },
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<span data-toggle="modal" data-target="#UpdateProductModal"><button class="btn btn-xs btn-default m-l-xs update-product"  data-toggle="tooltip" title="Actualizar"><span class="fa fa-edit"></span></button></span>' +
                                          '<span data-toggle="modal" data-target="#AddProductModal"><button class="btn btn-xs btn-success m-l-xs"  data-toggle="tooltip" title="Agregar"><span class="fa fa-arrow-up"></span></button></span>' +
                                          '<span data-toggle="modal" data-target="#RemoveProductModal"><button class="btn btn-xs btn-danger m-l-xs"  data-toggle="tooltip" title="Remover"><span class="fa fa-arrow-down"></span></button></span>'
                   }
            ],
            buttons: [
                { extend: 'copy', exportOptions: { columns: [0, 1, 2, 3, 5, 6] } },
                { extend: 'csv', exportOptions: { columns: [0, 1, 2, 3, 5, 6] }, title: 'Lista de Clientes' },
                { extend: 'excel', exportOptions: { columns: [0, 1, 2, 3, 5, 6] }, title: 'Lista de Clientes'},
                { extend: 'pdf', exportOptions:{columns: [0, 1, 2, 3, 5, 6]}, title: 'Lista de Clientes'},
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0,1,2,3,5,6]
                    },
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ]

        });

        var table = $('.dataTables-example').DataTable();


        //custom code
        $('.dataTables-example tbody').on('click', 'tr', function () {
            if (!table.data().count()) {
                return 0;
            }
            $(this).addClass('seleted-tr').siblings().removeClass('seleted-tr');
            let data = table.row(this).data();
            toggleRemoveAddProductButtons(1);
            loadProductInfo(data);
        });

        function loadProductInfo(data) {
            $('#AddProductForm input#ProductId').val(data.Id);
            $('#AddProductForm input#Name').val(data.Name + " "+ data.Brand);
            $('#RemoveProductForm input#ProductId').val(data.Id);
            $('#RemoveProductForm input#Name').val(data.Name + " " + data.Brand);
            $('#RemoveProductForm input#Quantity').attr("max",data.Quantity);

        }


        function toggleRemoveAddProductButtons(action) {
            if (action == 2) {
                $('.remove-product').prop('disabled', true);
                $('.remove-product').removeClass('btn-danger').addClass('btn-default');
                $('.add-product').prop('disabled', true);
                $('.add-product').removeClass('btn-success').addClass('btn-default');
            }
            else {
                $('.remove-product').prop('disabled', false);
                $('.remove-product').removeClass('btn-default').addClass('btn-danger');
                $('.add-product').prop('disabled', false);
                $('.add-product').removeClass('btn-default').addClass('btn-success');
            }
        }


        $("body").on("click", ".update-product", function () {
            debugger;
            let product = table.row(".seleted-tr").data();
            $("#UpdateProductModal #Id").val(product.Id);
            $("#UpdateProductModal #Name").val(product.Name);
            $("#UpdateProductModal #Brand").val(product.Brand);
            $("#UpdateProductModal #UnitCost").val(product.UnitCost);
            let suppliers = product.SupplierIds.split(",");
            $('#UpdateSupplier').val(suppliers).trigger('change');
        });

        $('#CreateProductForm').submit(function (event) {
            if ($("#CreateProductForm").valid()) {
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        swal({
                            title: "Producto Registrado!",
                            text: " ",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        },
                        function () {
                            table.ajax.reload();
                            $('#CreateProductModal').modal('hide');
                            toggleRemoveAddProductButtons(2);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                });
            }
            return false;
        });

        $('#UpdateProductForm').submit(function (event) {
            if ($("#UpdateProductForm").valid()) {
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        swal({
                            title: "Producto Actualizado!",
                            text: " ",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        },
                        function () {
                            table.ajax.reload();
                            $('#UpdateProductModal').modal('hide');
                            toggleRemoveAddProductButtons(2);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                });
            }
            return false;
        });

        $('#RemoveProductForm').submit(function (event) {
            if ($("#RemoveProductForm").valid()) {
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        swal({
                            title: "Registro Exitoso!",
                            text: " ",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        },
                        function () {
                            table.ajax.reload();
                            $('#RemoveProductModal').modal('hide');
                            toggleRemoveAddProductButtons(2);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                });
            }
            return false;
        });

        //clean 1st form inside a modal
        $('.modal').on('hidden.bs.modal', function (e) {
            $(this).find('form')[0].reset();
        });

        $('#AddProductForm').submit(function (event) {
            if ($("#AddProductForm").valid()) {
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        swal({
                            title: "Registro Exitoso!",
                            text: " ",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        },
                        function () {
                            table.ajax.reload();
                            $('#AddProductModal').modal('hide');
                            toggleRemoveAddProductButtons(2);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                });
            }
            return false;
        });

        $("#UpdateProductForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                },
                Brand: {
                    required: true,
                    minlength: 2
                },
                UnitCost: {
                    required: true
                },
                SupplierId: {
                    required: true,
                }
            },
            messages: {
                Name: {
                    required: "Por favor Introduzca un Nombre",
                    minlength: "El Nombre debe tener al menos 2 caracteres"
                },
                Brand: {
                    required: "Por favor Introduzca una Marca",
                    minlength: "La Marca debe tener al menos 2 caracteres"
                },
                UnitCost: {
                    required: "El costo unitario es requerida",
                },
                SupplierId: {
                    required: "Seleccione al menos un suplidor",
                }
            }
        });

        $("#CreateProductForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                },
                Brand: {
                    required: true,
                    minlength: 2
                },
                UnitCost: {
                    required: true
                },
                SupplierId: {
                    required: true,
                },
                Quantity: {
                    required: true,
                }
            },
            messages: {
                Name: {
                    required: "Por favor Introduzca un Nombre",
                    minlength: "El Nombre debe tener al menos 2 caracteres"
                },
                Brand: {
                    required: "Por favor Introduzca una Marca",
                    minlength: "La Marca debe tener al menos 2 caracteres"
                },
                UnitCost: {
                    required: "El costo unitario es requerida",
                },
                SupplierId: {
                    required: "Seleccione al menos un suplidor",
                },
                Quantity: {
                    required:"Ingrese la cantidad adquirida",
                }
            }
        });

        $("#AddProductForm").validate({
            rules: {
                Quantity: {
                    required: true,
                }
            },
            messages: {
                Quantity: {
                    required: "Ingrese la cantidad adquirida",
                    min: "Deben ser uno o mas productos"
                }
            }
        });

        $("#RemoveProductForm").validate({
            rules: {
                Quantity: {
                    required: true,
                }
            },
            messages: {
                Quantity: {
                    required: "Ingrese la cantidad utilizada",
                    max: "Es mayor que la existencia en inventario"
                }
            }
        });

        $.ajax({
            url: '@Url.Action("SuppliersFeed", "Inventory")',
            dataType: 'json',
            delay: 250,
            cache: true,
            success: function (data) {
                var jsonObj = [];
                $.each(data, function (key, value) {
                    let dataSelect2 = {};
                    dataSelect2.id = data[key].Id;
                    dataSelect2.text = data[key].Name;
                    jsonObj.push(dataSelect2);
                });

                $('#CreateSupplier').select2({

                    placeholder: "Seleccione un suplidor",
                    allowClear: true,
                    data: jsonObj,
                    dropdownParent: $("#CreateProductModal")
                });

                $('#UpdateSupplier').select2({

                    placeholder: "Seleccione un suplidor",
                    allowClear: true,
                    data: jsonObj,
                    dropdownParent: $("#UpdateProductModal")
                });

            }
        });

    })
    </script>
}