﻿@model UpdateSuplierViewModel
@{
    ViewBag.Title = "Suplidores";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Suplidores</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Home")">Home</a>
            </li>
            <li>
                Inventario
            </li>
            <li class="active">
                <strong>Suplidores</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<!--supplier Table-->
<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
    <div class="row m-b-xs">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <a class="btn btn-primary pull-right"  data-toggle="modal" data-target="#CreateSupplierModal" id="new-supplier"><span class="fa fa-user-plus m-r-xs"></span> Nuevo Suplidor &nbsp;</a>
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered  dataTables-example table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Compa&ntilde;ia</th>
                            <th>Telefono</th>
                            <th>Direcion</th>
                            <th>Opcion</th>
                        </tr>
                    </thead>
                   
                </table>
            </div>
        </div>
    </div>
</div>
<!--Create supplier Modal-->
<div class="modal fade" id="CreateSupplierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Nuevo Suplidor</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateSupplier", "Inventory", FormMethod.Post, new { @class = "form-horizontal", id = "CreateSupplierForm" }))
                {
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Compañia", minlength = "2", tabindex = "1", required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="copygroup">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Phone, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row" id="copyrow">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", data_mask = "999-999-9999 ext: 9999", placeholder = "###-###-#### ext: ####", tabindex = "2", required = " " })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Address, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = "Direccion", tabindex = "3", required = "" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" tabindex = "5" >Cancelar</button>
                <button type="button" class="btn btn-primary create-supplier" tabindex = "4">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--Update supplier Modal-->
<div class="modal fade" id="UpdateSupplierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Actualizar Suplidor</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateSupplier", "Inventory", FormMethod.Post, new { @class = "form-horizontal", id = "UpdateSupplierForm" }))
            {
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Compañia", minlength = "2", tabindex = "1", required=""})
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="copygroup">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Phone, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row" id="copyrow">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", data_mask = "999-999-9999 ext: 9999", placeholder = "###-###-#### ext: ####", tabindex = "4", required=""})
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Address, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = "Direccion", tabindex = "2", required=""})
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary update-supplier">Actualizar</button>
            </div>
        </div>
    </div>
</div>  


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/tooltipsterStyles")
    <style>
        .tooltip-clear,
        .create-supplier,
        .delete-supplier,
        .update-supplier {
        }
    </style>

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/tooltipster")


    <script type="text/javascript">
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'throw';
        $('.dataTables-example').DataTable({
            pageLength: 10,
            dom: '<"html5buttons"B>lTfgitp',
            "language": {
                "emptyTable": "<strong>No hay registros disponibles</strong>",
                "lengthMenu": "Mostrando _MENU_ Registros por pagina",
                "zeroRecords": "No se encontro nada con el criterio de busqueda",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "",
                "search": "<span class='fa fa-search m-r-xs' ></span>Buscar:",
                "paginate": {
                    "next": "Proximo",
                    "previous": "Anterior"
                }
            },
            ajax: {
                url: '@Url.Action("SuppliersFeed", "Inventory")',
                dataSrc: ''
            },
            columns: [
                { "data": "Id" },
                { "data": "Name" },
                { "data": "Phone" },
                { "data": "Address" },
                { "data": null }
               
            ],
            "columnDefs": [
                  {
                      "targets": [0],
                      "visible": false,
                      "searchable": false
                  },
                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<span data-toggle="modal" data-target="#UpdateSupplierModal" data-toggle="tooltip" title="Actualizar"><button class="btn btn-xs btn-success m-l-xs" ><span class="fa fa-refresh"></span></button></span>' +
                                         '<button class="btn btn-xs btn-danger m-l-xs delete-supplier" data-toggle="tooltip" title="Eliminar"><span class="fa fa-user-times"></button>'
                }
            ],
            buttons: [
                { extend: 'copy' },
                { extend: 'csv', exportOptions: { columns: [0, 1, 2, 3] } },
                { extend: 'excel',exportOptions:{columns: [0, 1, 2, 3]}, title: 'Lista de Clientes' },
                { extend: 'pdf',exportOptions:{columns: [0, 1, 2, 3]}, title: 'Lista de Clientes' },

                {
                    extend: 'print',
                    exportOptions:{columns: [0, 1, 2, 3]},
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ]

        });



        var table = $('.dataTables-example').DataTable();


        //custom code
        $('.dataTables-example tbody').on('click', 'tr', function () {
            $(this).addClass('seleted-tr').siblings().removeClass('seleted-tr');
            let data = table.row(this).data();
            if (!table.data().count()) {
                return 0;
            }
            loadUpdateSupplierForm(data);
            toggleRemoveAddProductButtons(1);

        });
        function clearToolTip() {
            var instances = $.tooltipster.instances();
            $.each(instances, function (i, instance) {
                instance.close();
            });
        }
        function loadUpdateSupplierForm(data) {
           
            $('#UpdateSupplierForm input#Id').val(data.Id);
            $('#UpdateSupplierForm input#Name').val(data.Name);
            $('#UpdateSupplierForm input#Phone').val(data.Phone);
            $('#UpdateSupplierForm input#Address').val(data.Address);
        }

        $('body').on('click', '.delete-supplier', function (event) {
            swal({
                title: "Desea Eliminar al Suplidor?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-warning",
                confirmButtonText: "Ok!",
                closeOnConfirm: false
            },
           function (isConfirm) {
               if (isConfirm) {
                   let data = table.row('.seleted-tr').data();
                   let supplier = {supplierId:data.Id};
                   let jsondata = JSON.stringify(supplier);
                   $.ajax({
                       url:'@Url.Action("SoftDeleteSupplier","Inventory")',
                       dataType: 'json',
                       contentType: 'application/json; charset=UTF-8',
                       type: 'POST',
                       data: jsondata,
                       success: function (data) {
                           if (data.ExcecutedSuccesfully) {
                               swal("Supplidor Eliminado!", " ", "success");
                               table.ajax.reload();
                               $('#UpdateSupplierModal').modal('hide');
                               toggleRemoveAddProductButtons(2);
                               return false;
                           }
                          
                       }
                   });
               }
           });
        });
        function toggleRemoveAddProductButtons( action) {
            if (action == 2) {
                $('.delete-supplier').prop('disabled', true);
                $('.delete-supplier').removeClass('btn-danger').addClass('btn-default');
                $('.u-modal').prop('disabled', true);
                $('.u-modal').removeClass('btn-success').addClass('btn-default');
            }
            else {
                $('.delete-supplier').prop('disabled', false);
                $('.delete-supplier').removeClass('btn-default').addClass('btn-danger');
                $('.u-modal').prop('disabled', false);
                $('.u-modal').removeClass('btn-default').addClass('btn-success');
            }
        }

        $('body').on('click', '.update-supplier', function (event) {
            $('#UpdateSupplierForm').trigger('submit');
        });
        $('body').on('click', '.tooltip-clear', function (event) {
            clearToolTip();
        });

        $('body').on('click', '.create-supplier', function (event) {
            $('#CreateSupplierForm').trigger('submit');
        });

        //clean 1st form inside a modal
        $('.modal').on('hidden.bs.modal', function (e) {
            $(this).find('form')[0].reset();
        });

        $('#UpdateSupplierForm').submit(function (event) {
            if ($("#UpdateSupplierForm").valid()) {
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        swal({
                            title: "Supplidor Actualizado!",
                            text: " ",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        },
                        function () {
                            table.ajax.reload();
                            $('#UpdateSupplierModal').modal('hide');
                            toggleRemoveAddProductButtons(2);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                });
                return false;
            }
        });

        $('#CreateSupplierForm').submit(function (event) {
            if ($("#CreateSupplierForm").valid()) {
                var formdata = new FormData($(this).get(0));
                var form = $(this);
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        swal({
                            title: "Supplidor Registrado!",
                            text: " ",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        },
                        function () {
                            table.ajax.reload();
                            $('#CreateSupplierModal').modal('hide');
                            toggleRemoveAddProductButtons(2);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                });
            }
            return false;
        });
        
        $("#CreateSupplierForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                },
                Address: {
                    required: true,
                    minlength:10
                },
                Phone: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required: "Por favor Introduzca un Nombre",
                    minlength: "El Nombre debe tener al menos 2 caracteres"
                },
                Address: {
                    required: "Por favor Introduzca una direccion",
                    minlength: "La direccion debe tener al menos 10 caracteres"
                },
                Phone: {
                    required: "El telefono es requerido",
                }
            }
        });

        $("#UpdateSupplierForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                },
                Address: {
                    required: true,
                    minlength: 10
                },
                Phone: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required: "Por favor Introduzca un Nombre",
                    minlength: "El Nombre debe tener al menos 2 caracteres"
                },
                Address: {
                    required: "Por favor Introduzca una direccion",
                    minlength: "La direccion debe tener al menos 10 caracteres"
                },
                Phone: {
                    required: "El telefono es requerido",
                }
            }
        });
    })
    </script>
}