﻿@model JsonFeedInvenotryTransaccionViewModel
@{
    ViewBag.Title = "Movimientos";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Movimientos del Inventario</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Home")">Home</a>
            </li>
            <li>
                Inventario
            </li>
            <li class="active">
                <strong>Movimientos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<!--Inventory transaction Table-->
<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
   
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="table-responsive">
                <table class="table  table-bordered  dataTables-example table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>ProductoID</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Tipo</th>
                            <th>Movimiento</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                   
                </table>
            </div>
        </div>
    </div>
</div>
<!--Modify Inventory transaction Modal-->
<div class="modal fade" id="ModifyTransactionModal" style="overflow:hidden;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Modificar Transaccion</h4>
            </div>
            @using (Html.BeginForm("UpdateTransaction", "Inventory", FormMethod.Post, new { @class = "form-horizontal", id = "UpdateTransactionForm" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(x => x.Id )
                    <input type="hidden" name="Type" id="Type" value="" />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                <label class="control-label">Informacion del producto</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", placeholder = "Articulo", minlength = "2", tabindex = "1", required = "", disabled = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.LabelFor(x => x.Quantity , new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-12">
                                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", placeholder = "Cantidad", tabindex = "5", type = "number", min = "0", required = "" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button class="btn btn-primary create-product">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/tooltipsterStyles")
    <style>
        .add-row{
            background-color:#B2DFDB;
        }
        .remove-row{
           background-color:#EF9A9A
        }
        .tooltip-clear,
        .create-supplier,
        .delete-supplier,
        .update-supplier {
        }
    </style>

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/tooltipster")
    @Scripts.Render("~/plugins/momentjs")
    <script src="https://cdn.datatables.net/plug-ins/1.10.12/dataRender/datetime.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'throw';
        $('.dataTables-example').DataTable({
            pageLength: 10,
            dom: '<"html5buttons"B>lTfgitp',
            "language": {
                "emptyTable": "<strong>No hay registros disponibles</strong>",
                "lengthMenu": "Mostrando _MENU_ Registros por pagina",
                "zeroRecords": "No se encontro nada con el criterio de busqueda",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "",
                "search": "<span class='fa fa-search m-r-xs' ></span>Buscar:",
                "paginate": {
                    "next": "Proximo",
                    "previous": "Anterior"
                }
            },
            ajax: {
                url: '@Url.Action("InventoryTransactionFeed", "Inventory")',
                dataSrc: ''
            },
            columns: [
                { "data": "Id" },
                { "data": "CreatedOn" },
                { "data": "ProductId" },
                { "data": "ProductName" },
                { "data": "Quantity" },
                { "data": "Type" },
                { "data": "TypeDescripcion" },
                { "data": null }
            ],
            "columnDefs": [
                  {
                      "targets": [5],
                      "visible": false,
                      "searchable": false
                  },
                  {
                    "targets": 1,
                    "render": $.fn.dataTable.render.moment('DD/MM/YYYY', 'DD/MM/YYYY')
                  },
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<span data-toggle="modal" data-target="#ModifyTransactionModal"><button class="btn btn-xs btn-success m-l-xs modify-transaction" data-toggle="tooltip" title="Actualizar"><span class="fa fa-refresh"></span></button></span>' +
                                          '<button class="m-l-xs btn btn-xs btn-danger restore-transaction" data-toggle="tooltip" title="Eliminar"><span class="fa fa-times"></span></button>'
                    }
            ],
            "order": [
                [1, "desc"]
            ],
            "createdRow": function ( row, data, index ) {
                if ( data.Type > 1 ) {
                    $(row).addClass('add-row');
                } else {
                    $(row).addClass('remove-row');
                }
            },
            buttons: [
                { extend: 'copy', exportOptions: { columns: [0, 1, 2, 3, 4, 5] } },
                { extend: 'csv', exportOptions: { columns: [0, 1, 2, 3, 4, 5] } },
                { extend: 'excel',exportOptions:{columns: [0, 1, 2, 3,4, 5]}, title: 'Lista de Clientes' },
                { extend: 'pdf', exportOptions: { columns: [0, 1, 2, 3, 4, 5] }, title: 'Lista de Clientes' },

                {
                    extend: 'print',
                    exportOptions:{columns: [0, 1, 2, 3,4, 5]},
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ]

        });

        var table = $('.dataTables-example').DataTable();


        //custom code
        $('.dataTables-example tbody').on('click', 'tr', function () {
            $(this).addClass('seleted-tr').siblings().removeClass('seleted-tr');
            let data = table.row(this).data();
            if (!table.data().count()) {
                return 0;
            }
            loadUpdateTransactionForm(data);
            toggleRemoveAddProductButtons(1)
        });
        function clearToolTip() {
            var instances = $.tooltipster.instances();
            $.each(instances, function (i, instance) {
                instance.close();
            });
        }
        function loadUpdateTransactionForm(data) {
            $('#UpdateTransactionForm input#Id').val(data.Id);
            $('#UpdateTransactionForm input#ProductName').val(data.ProductName);
            $('#UpdateTransactionForm input#Quantity').val(data.Quantity);
        }

        function toggleRemoveAddProductButtons(action) {
            if (action == 2) {
                $('.restore-transaction').prop('disabled', true);
                $('.restore-transaction').removeClass('btn-danger').addClass('btn-default');
                $('.modify-transaction').prop('disabled', true);
                $('.modify-transaction').removeClass('btn-success').addClass('btn-default');
            }
            else {
                $('.restore-transaction').prop('disabled', false);
                $('.restore-transaction').removeClass('btn-default').addClass('btn-danger');
                $('.modify-transaction').prop('disabled', false);
                $('.modify-transaction').removeClass('btn-default').addClass('btn-success');
            }
        }

        $('body').on('click', '.restore-transaction', function (event) {
            swal({
                title: "Deshacer la transaction?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-warning",
                confirmButtonText: "Si",
                cancelButtonText:"No",
                closeOnConfirm: false
            },
           function (isConfirm) {
               if (isConfirm) {
                   let data = table.row('.seleted-tr').data();
                   let supplier = { inventoryTransactionId : data.Id };
                   let jsondata = JSON.stringify(supplier);
                   $.ajax({
                       url:'@Url.Action("RollBackTransaction", "Inventory")',
                       dataType: 'json',
                       contentType: 'application/json; charset=UTF-8',
                       type: 'POST',
                       data: jsondata,
                       success: function (data) {
                           swal({
                               title: "Transaccion Restaurada",
                               text: " ",
                               type: "success",
                               confirmButtonClass: "btn-success",
                               confirmButtonText: "Ok!",
                               closeOnConfirm: true
                           },
                           function () {
                               table.ajax.reload();
                               $('#UpdateSupplierModal').modal('hide');
                           });
                       }
                   });
               }
           });
        });

        $('#UpdateTransactionForm').submit(function (event) {
            var formdata = new FormData($(this).get(0));
            var form = $(this);
            $.ajax({
                dataType: 'JSON',
                type: 'POST',
                url: form.attr('action'),
                data: formdata,
                processData: false,
                contentType: false,
                success: function (r) {
                    swal({
                        title: "Transaction Modificada!",
                        text: " ",
                        type: "success",
                        confirmButtonClass: "btn-success",
                        confirmButtonText: "Ok!",
                        closeOnConfirm: true
                    },
                    function () {
                        table.ajax.reload();
                        $('#ModifyTransactionModal').modal('hide');
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                }
            });
            return false;
        });

        //clean 1st form inside a modal
        $('.modal').on('hidden.bs.modal', function (e) {
            $(this).find('form')[0].reset();
        });



    })
    </script>
}