﻿@model DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.name = (string)Session["UserName"] ?? " ";
    string role = (string)Session["UserRoles"] ?? " ";
}


<div class="row m-t-sm">
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Hoy</h5>
                <h1 class="no-margins">@Model.TodayAppointmentsCount</h1>
                <div class="stat-percent font-bold text-info"><i class="fa fa-users""></i></div>
                <small>Total de Visitas</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Este Mes</h5>
                <h1 class="no-margins">@Model.ThisMonthAppointmentsCount</h1>
                <div class="stat-percent font-bold text-info"><i class="fa fa-users"></i></div>
                <small>Total de Visitas</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Ingresos del Dia</h5>
                <h1 class="no-margins">@Model.TodayIncome.ToString("#,##0.00")</h1>
                <div class="stat-percent font-bold text-navy"><i class="fa fa-money"></i></div>
                <small>Total de Ingresos</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Ingresos del Mes</h5>
                <h1 class="no-margins">@Model.ThisMonthIncome.ToString("#,##0.00")</h1>
                <div class="stat-percent font-bold text-navy"><i class="fa fa-money"></i></div>
                <small>Total de ingresos</small>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Citas del dia </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped jq-Datatable">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Paciente</th>
                                <th>Telefono</th>
                                <th>Odontologo</th>
                                <th>Hora</th>
                                <th>Estado</th>
                                @if (role.Contains("Secretaria"))
                                {
                                    <th> </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.TodayAppointment != null) {
                                var count = 1;
                                foreach (var appointment in Model.TodayAppointment) {

                                <tr>
                                    <td>@count</td>
                                    <td>@(appointment.Patient.Name+" "+ appointment.Patient.LastName)</td>
                                    <td>@appointment.Patient.Phones.FirstOrDefault(x => x.Primary == 1 ).Number</td>
                                    <td>@appointment.User.Name @appointment.User.LastName</td>
                                    <td>@(appointment.StartDate.Hour != 12 && appointment.StartDate.Hour % 12 < 10 ? "0" : " ")@(appointment.StartDate.Hour > 12 ? appointment.StartDate.Hour % 12 : appointment.StartDate.Hour):@(appointment.StartDate.Minute > 10 ? appointment.StartDate.Minute.ToString() :"0"+ appointment.StartDate.Minute) @(appointment.StartDate.Hour >= 12 ? "PM":"AM")</td>
                                    <td>@(appointment.IsConfirm?"Confirmada":"Pendiente")</td>
                                    @if (role.Contains("Secretaria"))
                                    {
                                      
                                   
                                    <td>
                                        @if (!appointment.IsConfirm)
                                        {
                                            <a class="btn btn-default btn-xs confirm-appointment" data-confirm="@appointment.Id" data-toggle="tooltip" title="Confirmar Cita"><i class="fa fa-check"></i></a>
                                        }
                                        @if (appointment.IsPaid)
                                        {
                                            <a class="btn btn-success btn-xs" href="@Url.Action("InvoiceReprint","Invoice",new { id = appointment.Id})" data-toggle="tooltip" title="Imprimir Factura"><i class="fa fa-print"></i></a>
                                            <a class="btn btn-danger btn-xs  anular" data-delete="@appointment.Id" data-toggle="tooltip" title="Anular Factura"><i class="fa fa-repeat"></i></a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-primary btn-xs" href="@Url.Action("Invoice","Invoice",new { id = appointment.Id})" data-toggle="tooltip" title="Facturar"><i class="fa fa-money"></i></a>
                                            <a class="btn btn-danger btn-xs delete" data-delete="@appointment.Id" data-toggle="tooltip" title="Cancelar Cita"><i class="fa fa-times"></i></a>
                                        }
                                    </td>
                                    }
                                </tr>

                                    count += 1;
                                }

                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

@section Styles {
    <style>
        .confirm-appointment,
        .delete{}
    </style>

}

@section Scripts {
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/flot")

    <script type="text/javascript">
        $(document).ready(function () {

            $(".jq-Datatable")
              .dataTable({
                  language: {
                      url: "../Scripts/plugins/dataTables/Spanish.json"
                  },
                  dom: '<"html5buttons"B>lTfgitp',
                  buttons: [
                      { extend: "copy", exportOptions: { columns: [1, 2, 3] } },
                      { extend: "csv", exportOptions: { columns: [1, 2, 3] } },
                      { extend: "excel", exportOptions: { columns: [1, 2, 3] } },
                      { extend: "pdf", exportOptions: { columns: [1, 2, 3] } },
                      {
                          extend: "print",
                          exportOptions: { columns: [1, 2, 3] },
                          customize: function (win) {
                              $(win.document.body).addClass("white-bg");
                              $(win.document.body).css("font-size", "10px");

                              $(win.document.body)
                                  .find("table")
                                  .addClass("compact")
                                  .css("font-size", "inherit");
                          }
                      }
                  ],
                  "order": []
              });

            $('body').on('click', '.delete', function () {
               var id =  parseInt($(this).attr('data-delete'));
               let Appointment = { appointmentId: id }

               swal({
                   title: "Desea Cancelar la Cita?",
                   text: "",
                   type: "warning",
                   showCancelButton: true,
                   confirmButtonClass: "btn-warning",
                   confirmButtonText: "Ok!",
                   closeOnConfirm: false
               },
               function (isConfirm) {
                   if (isConfirm) {
                       ajaxCall(Appointment, '@Url.Action("CancelAppointment","Agenda")', "Cita Cancelada");
                   }
               });

                return false;
            });

            $('body').on('click', '.anular', function () {
                var id = parseInt($(this).attr('data-delete'));
                let Appointment = { appointmentId: id }

                swal({
                    title: "Anular Factura?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonText: "Ok!",
                    closeOnConfirm: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        ajaxCall(Appointment, '@Url.Action("CancelInvoice","Invoice")', "Factura Anulada");
                    }
                });
                return false;
        
            });

            $('body').on('click', '.confirm-appointment', function () {
                
                var id = parseInt( $(this).attr('data-confirm'));
                let Appointment = { appointmentId: id }

                swal({
                    title: "Confirmar Cita?",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonClass: "btn-success",
                    confirmButtonText: "Ok!",
                    closeOnConfirm: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        ajaxCall(Appointment, '@Url.Action("ConfirmAppointment", "Agenda")', "Cita Confirmada");
                    }
                });

                return false;
            });

            function ajaxCall(Appointment, url, message) {
                let jsondata = JSON.stringify(Appointment);
                $.ajax({
                    url: url,
                    dataType: 'json',
                    contentType: 'application/json; charset=UTF-8',
                    type: 'POST',
                    data: jsondata,
                    success: function (data) {
                        swal({
                            title:message,
                            text: "",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        },
                       function (isConfirm) {
                           if (isConfirm) {
                               location.reload();
                           }
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        location.reload();
                    }
                });
            }

        });
    </script>
}