﻿@model UpdatePatientViewModel
@{
    ViewBag.Title = "Pacientes";
    string roles = (string)Session["UserRoles"] ?? " ";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Consulta de Pacientes</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                Paciente
            </li>
            <li class="active">
                <strong>Consulta de Pacientes</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<!--Patients Table-->
<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
    <div class="row m-b-xs">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <a class="m-r-xs btn btn-primary pull-right link-wiz" id="new-patient" data-toggle="modal" data-target="#NewPatientModal"><span class="fa fa-user-plus m-r-xs"></span> Nuevo Paciente &nbsp;</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="table-responsive">
                <table class="table  table-bordered  dataTables-example table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de Naciemiento</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Tipo</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                   
                </table>
            </div>
        </div>
    </div>
</div>

<!--Create Patient Modal-->
<div class="modal fade" id="NewPatientModal" tabindex="-1" role="dialog" aria-labelledby="NewPatientModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Registrar Paciente</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SetPatient", "Patient", FormMethod.Post, new { id = "CreatePatientForm", @class = "form-horizontal" }))
                {
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Nombre", minlength = "2", tabindex = "1", required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Apellido", tabindex = "2", required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="data_1">
                        @Html.LabelFor(x => x.Birthday, new { @class = "control-label" })
                        <div class="input-group date col-lg-11 col-xs-10">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.TextBoxFor(x => x.Birthday, new { @class = "form-control", placeholder = "dd/mm/yyyy", data_mask = "99/99/9999", tabindex = "3", required = "" })
                        </div>
                    </div>
                    <div class="form-group" id="copygroup">
                        <div class="row">
                            <div class="col-lg-6 col-xs-5">
                                <label class="control-label">Telefono</label>
                            </div>
                            <div class="col-lg-6 col-xs-5">
                                <label class="control-label">Tipo</label>
                            </div>
                        </div>
                        <div class="row" id="copyrow">
                            <div class="col-lg-6 col-xs-5">
                                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", data_mask = "999-999-9999", placeholder = "###-###-####", tabindex = "4", required = " " })
                            </div>
                            <div class="col-lg-6 col-xs-5">
                                <select name="PhoneType" tabindex="5">
                                    <option value="Celular" selected>Celular</option>
                                    <option value="Casa">Casa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "asdf@jkl.com", type = "email", tabindex = "6" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary create-patient">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--Update Patient Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Actualizar Paciente</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdatePatient", "Patient", FormMethod.Post, new { id = "UpdatePatientForm", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(x => x.Id);
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Nombre", minlength = "2", tabindex = "1", required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Apellido", tabindex = "2", required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="data_1">
                        @Html.LabelFor(x => x.Birthday, new { @class = "control-label" })
                        <div class="input-group date col-lg-11 col-xs-10">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.TextBoxFor(x => x.Birthday, new { @class = "form-control", placeholder = "dd/mm/yyyy", data_mask = "99/99/9999", tabindex = "3", required = "" })
                        </div>
                    </div>
                    <div class="form-group" id="copygroup">
                        <div class="row">
                            <div class="col-lg-6 col-xs-5">
                                <label class="control-label">Telefono</label>
                            </div>
                            <div class="col-lg-6 col-xs-5">
                                <label class="control-label">Tipo</label>
                            </div>
                        </div>
                        <div class="row" id="copyrow">
                            <div class="col-lg-6 col-xs-5">
                                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", data_mask = "999-999-9999", placeholder = "###-###-####", tabindex = "4", required = " " })
                            </div>
                            <div class="col-lg-6 col-xs-5">
                                <select name="PhoneType" tabindex="5">
                                    <option value="Celular" selected>Celular</option>
                                    <option value="Casa">Casa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11 col-xs-10">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "asdf@jkl.com", type = "email", tabindex = "6" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary update-patient">Actualizar</button>
            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/tooltipsterStyles")
    @Styles.Render("~/plugins/dataPickerStyles")

    <style>
        .appointment,
        .create-patient,
        .update-patient,
        .check-md{

        }
        .datepicker{z-index:9999}
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/tooltipster")


    <script type="text/javascript">
        $(document).ready(function () {


            $("body").on("click", ".appointment", function () {
                let data = table.row('.seleted-tr').data();
                window.location.href = '@Url.Action( "MakeAppointment","Agenda")/' + data.Id;
                return false;
            });

            $("body").on("click", ".check-md", function () {
                let data = table.row('.seleted-tr').data();
                window.location.href = '@Url.Action("MedicalHistory","MedicalHistory")/' + data.Id;
                return false;
            });

            //datatable code
            $('.dataTables-example').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                "language": {
                    "emptyTable": "<h1>No hay registros disponibles</h1>",
                    "lengthMenu": "Mostrando _MENU_ Registros por pagina",
                    "zeroRecords": "No se encontro nada con el criterio de busqueda",
                    "info": "Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "",
                    "search": "<span class='fa fa-search m-r-xs' ></span>Buscar:",
                    "paginate": {
                        "next": "Proximo",
                        "previous": "Anterior"
                    }
                },
                ajax: {
                    url: '@Url.Action("PatientsFeed", "Patient")',
                    dataSrc: ''
                },
                columns: [
                    { "data": "Id" },
                    { "data": "Name" },
                    { "data": "LastName" },
                    { "data": "Birthday" },
                    { "data": "Email" },
                    { "data": "PhoneNumber" },
                   { "data": "PhoneType" },
                   { "data": null }
                ],
                "columnDefs": [
                   {
                       "targets": [ 0 ],
                       "visible": false,
                       "searchable": false
                   },
                   {
                       "targets": -1,
                       "data": null,
                       "defaultContent": '<span data-toggle="modal" data-target="#exampleModal"><button class="m-l-xs btn btn-xs btn-default update-patient" data-toggle="tooltip" title="Actualizar"><i class="fa fa-edit"></i></button></span>' +
                                         '<a class="m-l-xs btn btn-xs btn-info check-md" data-toggle="tooltip" title="Historial Medico"><i class="fa fa-file"></i></a>' +
                                         '<a class="m-l-xs btn btn-xs btn-success appointment @(roles.Contains("Secretaria")?"":"hidden") "><i class="fa fa-calendar" data-toggle="tooltip" title="Crear Cita"></i></a>'
                   },
                ],
                "order": [
                [0, "desc"]
                ],
                buttons: [
                    { extend: 'copy', exportOptions: { columns: [0, 1, 2, 3, 4, 5,6] } },
                    { extend: 'csv', exportOptions: { columns: [0, 1, 2, 3, 4, 5,6] } },
                    { extend: 'excel', exportOptions: { columns: [0, 1, 2, 3, 4, 5,6] }, title: 'Lista de Clientes' },
                    { extend: 'pdf', exportOptions: { columns: [0, 1, 2, 3, 4, 5,6] }, title: 'Lista de Clientes' },

                    {
                        extend: 'print',
                        exportOptions:{columns: [0,1,2,3,4,5,6]},
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

            var table = $('.dataTables-example').DataTable();


            //custom code
            $('.dataTables-example tbody').on('click', 'tr', function () {
                $(this).addClass('seleted-tr').siblings().removeClass('seleted-tr');
                let data = table.row(this).data();
                loadUpdatePatientForm(data);

            });

            $('.update-patient').click(function () {
                $('#UpdatePatientForm').trigger('submit');
            });

            $('.create-patient').click(function () {
                $('#CreatePatientForm').trigger('submit');
            });

            function loadUpdatePatientForm(data) {
                $('#UpdatePatientForm input#Id').val(data.Id);
                $('#UpdatePatientForm input#Name').val(data.Name);
                $('#UpdatePatientForm input#LastName').val(data.LastName);
                $('#UpdatePatientForm input#Birthday').val(data.Birthday);
                $('#UpdatePatientForm input#PhoneNumber').val(data.PhoneNumber);
                $('#UpdatePatientForm select').val(data.PhoneType);
                $('#UpdatePatientForm input#Email').val(data.Email);
                $('.invoice').attr("href", 'Invoice/Invoice/'+data.Id);
            }

            $('#data_1 .input-group.date').datepicker({
                startView: 0,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy',
                zindex: 9999

            });

            //clean 1st form inside a modal
            $('.modal').on('hidden.bs.modal', function (e) {
                $(this).find('form')[0].reset();
            });

            $('#CreatePatientForm').on("submit", function () {
                if ($("#CreatePatientForm").valid()) {
                    var formdata = new FormData($(this).get(0));
                    var form = $(this);
                    $.ajax({
                        dataType: 'JSON',
                        type: 'POST',
                        url: form.attr('action'),
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (r) {

                            swal({
                                title: "Paciente Actualizado!",
                                text: " ",
                                type: "success",
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: true
                            },
                            function () {
                                table.ajax.reload();
                                $('#NewPatientModal').modal('hide')
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            block.remove();
                            sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                        }
                    });
                }

                return false;
            });

            $('#UpdatePatientForm').on("submit", function () {
                if ($("#UpdatePatientForm").valid()) {

                    var formdata = new FormData($(this).get(0));
                    var form = $(this);
                    $.ajax({
                        dataType: 'JSON',
                        type: 'POST',
                        url: form.attr('action'),
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (r) {

                            swal({
                                title: "Paciente Actualizado!",
                                text: " ",
                                type: "success",
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: true
                            },
                            function () {

                                var index = table.rows().eq(0).filter(function (rowIdx) {
                                    return table.cell(rowIdx, 0).data() == r.Id ? true : false;
                                });
                                table.row(index).data(r)
                                $('#exampleModal').modal('hide')
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            block.remove();
                            sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                        }
                    });
                }

                return false;
            });

            $("#CreatePatientForm").validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 2
                    },
                    LastName: {
                        required: true,
                        minlength: 2
                    },
                    Birthday: {
                        required: true,
                        date: true
                    },
                    PhoneNumber: {
                        required: true,
                        phone: true
                    }
                },
                messages: {
                    Name: {
                        required: "Por favor Introduzca un Nombre",
                        minlength: "El Nombre debe tener al menos 2 caracteres"
                    },
                    LastName: {
                        required: "Por favor Introduzca un Apellido",
                        minlength: "El Apellido debe tener al menos 2 caracteres"
                    },
                    Birthday: {
                        required: "La fecha de nacimiento es requerida",
                        date: "La fecha es invalida"
                    },
                    PhoneNumber: {
                        required: "Un numero de contacto es requerido",
                        phone: "El numero es invalido"
                    }
                }
            });
            $("#UpdatePatientForm").validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 2
                    },
                    LastName: {
                        required: true,
                        minlength: 2
                    },
                    Birthday: {
                        required: true,
                        date: true
                    },
                    PhoneNumber: {
                        required: true,
                        phone: true
                    }
                },
                messages: {
                    Name: {
                        required: "Por favor Introduzca un Nombre",
                        minlength: "El Nombre debe tener al menos 2 caracteres"
                    },
                    LastName: {
                        required: "Por favor Introduzca un Apellido",
                        minlength: "El Apellido debe tener al menos 2 caracteres"
                    },
                    Birthday: {
                        required: "La fecha de nacimiento es requerida",
                        date: "La fecha es invalida"
                    },
                    PhoneNumber: {
                        required: "Un numero de contacto es requerido",
                        phone: "El numero es invalido"
                    }
                }
            });

            jQuery.validator.addMethod("phone", function (value, element) {
                return /([0-9]{3}-[0-9]{3}-[0-9]{4})/.test(value);
            }, "Por favor verifique el numero de contacto");

            $.validator.methods.date = function (value, element) {
                var from = value.split("/");
                var f = new Date(from[2] + '-' + from[1] + '-' + from[0]);
                if (f == 'Invalid Date' && value != "__/__/____") {
                    return false;
                }
                else {
                    return true;
                }
            };
        });
    </script>
}
