﻿@model  JsonFeedPatientViewModel
@{
    ViewBag.Title = "Citas";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Agenda de Citas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Home")">Home</a>
            </li>
            <li>
                Agenda
            </li>
            <li class="active">
                <strong>Citas</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<!--Calendario de Citas-->
<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
    <div class="row">
        <div class="col-lg-5 col-xs-11 m-l-lg m-t-xs">
            <h1 id="patient-fullname">@(Model.Name + " " + Model.LastName )</h1>
            <br />
            <strong>Informacion de Contacto</strong>
            <ul class="list-group clear-list">
                <li id="phone-number" class="list-group-item fist-item">
                    <span class="pull-right">@Model.PhoneNumber <span class="badge" id="numbertype">@Model.PhoneType</span></span>
                    Telefono:
                </li>
                <li id="patient-email" class="list-group-item">
                    <span class="pull-right">@Model.Email</span>
                    Email:
                </li>
            </ul>

        </div>
        <div class="col-lg-5 col-xs-8 m-l-lg m-t-xl">
            <input type="hidden" id="lipatientid" value="@Model.Id"/>
            <label class="col-xs-12 col-lg-12">
                Doctor
                <select class="form-control m-l-xl" style="width:100%" id="odontologo">
                   <option></option>
                </select>
            </label>
           
        </div>
    </div>
    <div class="row" style="padding-bottom:100px">
        <div class="col-lg-11 col-xs-11 m-lg">
            <div id='calendar'></div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/tooltipsterStyles")
    @Styles.Render("~/plugins/fullCalendarStyles")
    @Styles.Render("~/plugins/select2Styles")
   
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/tooltipster")
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/select2")


    <script type="text/javascript">
        function Cancelar(app) {
            clearToolTip();
            swal({
                title: "Desea Cancelar la Cita?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-warning",
                confirmButtonText: "Ok!",
                closeOnConfirm: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    let Appointment = { appointmentId: app };
                    calenderAjax(Appointment, '@Url.Action("CancelAppointment", "Agenda")', "Cita Cancelada", "Cancel");
                    $('#calendar').fullCalendar('removeEvents', app);
                }
            });


        }
        function clearToolTip() {
            var instances = $.tooltipster.instances();
            $.each(instances, function (i, instance) {
                instance.close();
            });
        }
        function calenderAjax(Appointment, url, message, action) {
            let jsondata = JSON.stringify(Appointment);
            $.ajax({
                url: url,
                dataType: 'json',
                contentType: 'application/json; charset=UTF-8',
                type: 'POST',
                data: jsondata,
                success: function (data) {
                    data.id = data.Id;
                    data.title = data.PatientName;
                    data.start = data.StartDate;
                    data.end = data.EndDate;
                    data.editable = true;
                    if (action == "add") {
                        data.color = '#66A3D2'
                        $('#calendar').fullCalendar('renderEvent', data, true);
                    }
                    swal(message, "", "success");
                }
            });
        }

        $(document).ready(function () {
            ///Calendar
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaDay'
                },

                nowIndicator: true,//when not specify doesnt show today's progress
                navLinks: true, // can click day/week names to navigate views
                // editable: true,
                eventLimit: true, // allow "more" link when too many event
                theme: true,
                eventOverlap: false,
                displayEventTime: true,
                displayEventEnd: true,
                timezone: false,
                slotDuration: '00:30:00',
                minTime: "08:00:00",
                maxTime: "18:00:00",
                firstDay:0,
                businessHours: true,
                eventConstraint: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [ 1, 2, 3, 4, 5], // Monday - Friday

                    start: '08:00', // a start time (09am in this example)
                    end: '18:00', // an end time (6pm in this example)
                },
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [ 1, 2, 3, 4, 5], // Monday - Friday
                    start: '08:00', // a start time (09am in this example)
                    end: '18:00', // an end time (6pm in this example)
                    background: 'green'
                },
                eventClick: function (event, jsEvent, view) {
                    let c2 = '<a class="btn btn-danger" onclick="Cancelar(_AppointmentId_)"><span class="fa fa-times m-r-xs"></span>Cancelar Cita</a>';
                    c2 = c2.replace("_AppointmentId_", event.Id);
                    var instances = $.tooltipster.instances(this);
                    $.each(instances, function (i, instance) {
                        instance.content(c2);
                    });
                },
                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                    let nowdate = $.fullCalendar.moment(new Date());
                    if (view.name == "month") {
                        let today = $.fullCalendar.moment(nowdate.format('YYYY[-]MM[-]DD'));
                        let appoinmentday = $.fullCalendar.moment(event.start.format('YYYY[-]MM[-]DD'));
                        if (appoinmentday.isAfter(today) || appoinmentday.isSame(today)) {
                            swal({
                                title: "Cambiar Cita Para",
                                text: event.start.format("dddd D [de] MMMM [del] YYYY, hh:mm:ss a"),
                                type: "info",
                                showCancelButton: true,
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: false
                            },
                           function (isConfirm) {
                               if(isConfirm){
                                   let Appointment = {
                                       Id: event.id,
                                       StartDate: event.start.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                       EndDate: event.end.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                       UserId: $('#odontologo').val(),
                                       PatientId: $('input#lipatientid').val(),
                                       PatientName: ($("#patient-fullname").text()).replace('Nombre : ', '')
                                   };
                                   calenderAjax(Appointment, '@Url.Action("UpdateAppointment", "Agenda")', "Fecha Cambiada", "update");
                                } else {
                                    revertFunc();
                                }
                           });
                        } else {
                            swal({
                                title: "Fecha Invalida",
                                text: "",
                                type: "error",
                                timer: 1500,
                                showConfirmButton: true
                            });
                            revertFunc();
                        }
                    }
                    else if (view.name == "agendaDay") {
                        let today = $.fullCalendar.moment(nowdate.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        let appoinmentday = $.fullCalendar.moment(event.start.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        if (appoinmentday.isAfter(today) || appoinmentday.isSame(today)) {
                            swal({
                                title: "Cambiar Cita Para",
                                text: event.start.format("dddd D [de] MMMM [del] YYYY, hh:mm:ss a"),
                                type: "info",
                                showCancelButton: true,
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    let Appointment = {
                                        Id: event.id,
                                        StartDate: event.start.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                        EndDate: event.end.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                        UserId: $('#odontologo').val(),
                                        PatientId: $('input#lipatientid').val(),
                                        PatientName: ($("#patient-fullname").text()).replace('Nombre : ', '')
                                    };
                                    calenderAjax(Appointment, '@Url.Action("UpdateAppointment", "Agenda")', "Fecha Cambiada", "update");
                                } else {
                                    revertFunc();
                                }
                           });
                        }
                        else {
                            swal({
                                title: "Fecha Invalida",
                                text: "",
                                type: "error",
                                timer: 1500,
                                showConfirmButton: true
                            });
                            revertFunc();
                        }
                     }
                },
                dayClick: function (date, jsEvent, view) {
                    if (!$('#odontologo').val() > 0) {
                        swal("Seleccione un Doctor", "", "warning");
                        return 0;
                    }
                    if (date.format("dd") == "Su" || date.format("dd") == "Sa") {
                        return 0;
                    }
                    if (IsDateHasEvent(date)) {
                        swal({
                            title: "Fecha Invalida",
                            text: "",
                            type: "error",
                            timer: 1500,
                            showConfirmButton: true
                        });
                        return 0;
                    }

                    let nowdate = $.fullCalendar.moment(new Date());
                    if (view.name == "month") {
                        let today = $.fullCalendar.moment(nowdate.format('YYYY[-]MM[-]DD'));
                        let appoinmentday = $.fullCalendar.moment(date.format('YYYY[-]MM[-]DD'));
                        if (appoinmentday.isAfter(today) || appoinmentday.isSame(today))
                        {
                            $('#calendar').fullCalendar('gotoDate', date);
                            $('#calendar').fullCalendar('changeView', 'agendaDay');
                        }
                        else {
                            swal({
                                title: "Fecha Invalida",
                                text: "",
                                type: "error",
                                timer: 1500,
                                showConfirmButton: true
                            });
                        }
                        return setTimeout(function () { return true }, 5000);
                    }
                    else if (view.name == "agendaDay") {
                        let today = $.fullCalendar.moment(nowdate.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        let appoinmentday = $.fullCalendar.moment(date.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        if (appoinmentday.isAfter(today) || appoinmentday.isSame(today))
                        {
                            swal({
                                title:"Hacer Cita Para",
                                text: date.format("dddd D [de] MMMM [del] YYYY, hh:mm:ss a"),
                                type: "info",
                                showCancelButton: true,
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: false
                            },
                            function () {
                                let PatientName = ($("#patient-fullnamee").text()).replace('Nombre : ', '');
                                let Appointment = {
                                    StartDate: date.format('YYYY-MM-DD[T]HH:mm:ss'),
                                    EndDate: date.add(1, "h").format('YYYY-MM-DD[T]HH:mm:ss'),
                                    UserId: $('#odontologo').val(),
                                    PatientId: $('input#lipatientid').val(),
                                    PatientName: ($("#patient-fullname").text()).replace('Nombre : ', '')
                                };
                                calenderAjax(Appointment,'@Url.Action("setAppointment", "Agenda")', "Cita Registrada!", "add");
                            });
                        }
                        else {
                            swal({
                                title: "Fecha Invalida",
                                text: "",
                                type: "error",
                                timer: 1500,
                                showConfirmButton: true
                            });
                        }
                    }

                },
                eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {
                    let nowdate = $.fullCalendar.moment(new Date());
                    if (view.name == "agendaDay") {
                        let today = $.fullCalendar.moment(nowdate.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        let appoinmentday = $.fullCalendar.moment(event.start.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        if (appoinmentday.isAfter(today) || appoinmentday.isSame(today)) {
                            swal({
                                title: "Cambiar duracion de la Cita",
                                text: event.start.format("hh:mm:ss a") +" a "+ event.end.format("hh:mm:ss a"),
                                type: "info",
                                showCancelButton: true,
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    let Appointment = {
                                        Id: event.id,
                                        StartDate: event.start.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                        EndDate: event.end.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                        UserId: $('#odontologo').val(),
                                        PatientId: $('input#lipatientid').val(),
                                        PatientName: ($("#patient-fullname").text()).replace('Nombre : ', '')
                                    };
                                    calenderAjax(Appointment, '@Url.Action("UpdateAppointment", "Agenda")', "Fecha Cambiada", "update");
                                } else {
                                    revertFunc();
                                }
                            });
                        }
                        else {
                            swal({
                                title: "Fecha Invalida",
                                text: "",
                                type: "error",
                                timer: 1500,
                                showConfirmButton: true
                            });
                            revertFunc();
                        }
                    }
                }

            });

            function IsDateHasEvent(date) {
                let day = $.fullCalendar.moment(date.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                let allEvents = [];
                let Result = false;
                allEvents = $('#calendar').fullCalendar('clientEvents');
                $.each(allEvents, function (index, value) {
                    let start = $.fullCalendar.moment(value.start);
                    start = $.fullCalendar.moment(start.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                    let end = $.fullCalendar.moment(value.end);
                    end = $.fullCalendar.moment(end.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                    if (start.isSame(day) || (day.isAfter(start) && end.isAfter(day))) {
                        Result = true;
                        return Result;
                    }
                });
                return Result;
            }
            
            $('.update-patient').click(function () {
                $('#UpdatePatientForm').trigger('submit');
            });
           
          
            function cleanForm() {
                var validator = $("#form-patient").validate();
                validator.resetForm();
                //($("#form-patient")).reset();
                $("#form-patient input[type='text']").val("");
                $("#form-patient input[type='email']").val("");
            }
           
            $('#UpdatePatientForm').on("submit", function () {
                if ($("#UpdatePatientForm").valid()) {

                    var formdata = new FormData($(this).get(0));
                    var form = $(this);
                    $.ajax({
                        dataType: 'JSON',
                        type: 'POST',
                        url: form.attr('action'),
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (r) {

                            swal({
                                title: "Paciente Registrado!",
                                text: " ",
                                type: "success",
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: true
                            },
                            function () {
                                loadClientInfo(r);
                                var index = table.rows().eq(0).filter(function (rowIdx) {
                                    return table.cell(rowIdx, 0).data() == r.Id ? true : false;
                                });
                                table.row(index).data(r)
                                $('#exampleModal').modal('hide')
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            block.remove();
                            sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                        }
                    });
                }

                return false;
            });


            $("#UpdatePatientForm").validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 2
                    },
                    LastName: {
                        required: true,
                        minlength: 2
                    },
                    Birthday: {
                        required: true,
                        date: true
                    },
                    PhoneNumber: {
                        required: true,
                        phone: true
                    }
                },
                messages: {
                    Name: {
                        required: "Por favor Introduzca un Nombre",
                        minlength: "El Nombre debe tener al menos 2 caracteres"
                    },
                    LastName: {
                        required: "Por favor Introduzca un Apellido",
                        minlength: "El Apellido debe tener al menos 2 caracteres"
                    },
                    Birthday: {
                        required: "La fecha de nacimiento es requerida",
                        date: "La fecha es invalida"
                    },
                    PhoneNumber: {
                        required: "Un numero de contacto es requerido",
                        phone: "El numero es invalido"
                    }
                }
            });

            //datepickercode
            $('#data_1 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy'
            });

            //select 2
            $.ajax({
                url: '@Url.Action("DentistFeed", "Account")',
                dataType: 'json',
                delay: 250,
                cache: true,
                success: function (data) {

                    var jsonObj = [];
                    $.each(data, function (key, value) {
                        let dataSelect2 = {};
                        dataSelect2.id = data[key].Id;
                        dataSelect2.text = data[key].Name + " " + data[key].LastName;
                        jsonObj.push(dataSelect2);
                    });
                    $('#odontologo').select2({
                        placeholder: "Seleccione un doctor",
                        allowClear: true,
                        data: jsonObj

                    });
                }
            });

            $('#odontologo').on('change', function (event) {
                $('#calendar').fullCalendar('removeEvents');
                let data = { dentistId: $('#odontologo').val() };
                $.ajax({
                    dataType: 'JSON',
                    type: 'POST',
                    url: '@Url.Action("AppointmentsFeedByDentistId", "Agenda")',
                    data: data,
                    success: function (r) {
                        $.each(r, function (key, value) {
                            r[key].id = r[key].Id;
                            r[key].title = r[key].PatientName;
                            r[key].start = r[key].StartDate;
                            r[key].end = r[key].EndDate;
                        });
                        $('#calendar').fullCalendar('addEventSource', r);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                });
            });
            $('#calendar').on('mouseenter', '.fc-event.fc-draggable.fc-resizable', function (event) {
                let c2 = '<a class="btn btn-danger" onclick="Cancelar(_AppointmentId_)"><span class="fa fa-times m-r-xs"></span>Cancelar Cita</a>';
                $(this).tooltipster({
                    content: c2,
                    multiple: true,
                    contentAsHTML: true,
                    trigger: 'custom',
                    triggerOpen: {
                        click: true,
                        tap: true,
                    },
                    triggerClose: {
                        click: true,
                        tap: true
                    },
                    contentCloning: false,
                    interactive: true,
                    side: 'top',
                    theme: 'tooltipster-shadow'
                });
            });

            
           
        });
    </script>
}
