﻿
@{
    ViewBag.Title = "Itinerario";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Itinerario</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Home")">Home</a>
            </li>
            <li>
                Agenda
            </li>
            <li class="active">
                <strong>Itinerario</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
     
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg" style="padding-bottom:100px">
    <div class="row">
        <div id='calendar' class="col-lg-10 col-lg-offset-1"></div>
    </div>
</div>

<div class="tooltip_templates">
    <span id="tooltip_content_1">
        <a href="@Url.Action("MedicalHistory","MedicalHistory")/_PatientId_" class="btn btn-primary m-l-xs"><span class="fa fa-user m-r-xs"></span>Historial Medico</a>
    </span>
    <span id="tooltip_content_2">
        <a class="btn btn-danger" onclick="Cancelar(_AppointmentId_)"><span class="fa fa-times m-r-xs"></span>Cancelar Cita</a>
    </span>
    <span id="tooltip_content_3">
        <a class="btn btn-info " onclick="Facturar(_AppointmentId_,_IsPaid_)"><span class="fa fa-money m-r-xs"></span>Facturar Cita</a>
    </span>
    <span id="tooltip_content_4">
        <a class="btn btn-info " onclick="Reprint(_AppointmentId_,_IsPaid_)"><span class="fa fa-money m-r-xs"></span>Reimprimir Facturar</a>
    </span>
</div>

@section Styles {
    @Styles.Render("~/plugins/fullCalendarStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")    
    @Styles.Render("~/plugins/select2Styles")   
    @Styles.Render("~/plugins/fullCalendarSchedulerStyles")
    @Styles.Render("~/plugins/tooltipsterStyles")
    <style>
        .tooltip_templates { display: none; }
    </style>
}


@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/fullCalendarScheduler")
    @Scripts.Render("~/plugins/tooltipster")

    <script>
        function Cancelar(app) {
            clearToolTip();

            swal({
                title: "Desea Cancelar la Cita?",
                text:"",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-warning",
                confirmButtonText: "Ok!",
                closeOnConfirm: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    let Appointment = { appointmentId: app };
                    calenderAjax(Appointment, '@Url.Action("CancelAppointment", "Agenda")', "Cita Cancelada", "Cancel");
                    $('#calendar').fullCalendar('removeEvents', app);
                }
            });


        }
        function clearToolTip() {
            var instances = $.tooltipster.instances();
            $.each(instances, function (i, instance) {
                instance.close();
            });
        }
        function Facturar(app, isPaid) {
            if (isPaid) {
                alert("Esta Pagada")
                return false;
            }
            window.location = '@Url.Action("Invoice", "Invoice")/' + app;
        }

        function Reprint(app, isPaid) {
            if (isPaid) {
                window.location = '@Url.Action("InvoiceReprint", "Invoice")/' + app;
                return false;
            }
            alert("no esta pagada");
            return false;
        }

        $(function () { // document ready

            var color = ["#FFD300", "#63ADD0", "#FF4040", "#74E868", "#FF8740", "#AD66D5", "#574DD8"];
            var borderColor = ["#A68900", "#0772A1", "#A60000", "#62AA2A", "#FF6700", "#D936C0", "#2419B2"];
            $('#calendar').fullCalendar({
                defaultView: 'month',
                editable: true,
                selectable: true,
                navLinks: true,
                eventLimit: true, // allow "more" link when too many events
                eventOverlap:false,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaDay,agendaWeek,month'
                },
                /*views: {
                    agendaTwoDay: {
                        type: 'agendaWeek',
                        duration: { days: 7 },

                        // views that are more than a day will NOT do this behavior by default
                        // so, we need to explicitly enable it
                        groupByResource: true

                        //// uncomment this line to group by day FIRST with resources underneath
                        //groupByDateAndResource: true
                    }
                },*/

                //// uncomment this line to hide the all-day slot
                allDaySlot: false,
                nowIndicator: true,
                slotDuration: '00:30:00',
                minTime: "08:00:00",
                maxTime: "18:00:00",
                firstDay: 0,
                businessHours: true,
                eventConstraint: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [1, 2, 3, 4, 5], // Monday - Friday

                    start: '08:00', // a start time (09am in this example)
                    end: '18:00', // an end time (6pm in this example)
                },
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [1, 2, 3, 4, 5], // Monday - saturday
                    start: '08:00', // a start time (09am in this example)
                    end: '18:00', // an end time (6pm in this example)
                    background: 'green'
                },
                resources: {
                        url: '@Url.Action("DentistFeed", "Account")',
                        type: 'POST',
                        error: function () {
                            alert('there was an error while fetching events!');
                        }, success: function (reply) {
                            $.each(reply, function (index, value) {
                                value.id = value.Id;
                                value.title ="Dr. "+ value.Name + " "+value.LastName;
                                value.eventColor = color[index % 7];
                                value.eventBorderColor = borderColor[index% 7];
                            });
                            let value = {};
                            value.id = 0;
                            value.title = "Por Asignar";
                            value.eventColor = '#5E5757';
                            value.eventBorderColor = '#302929';
                            reply.push(value);
                        }
                },
                events: {

                    url: '@Url.Action("AppointmentsFeed","Agenda")',
                    type: 'POST',
                    success: function (r) {
                        $.each(r, function (key, value) {
                            value.id = value.Id;
                            value.title = (value.IsPaid ?"PAGADO - ": "") + value.PatientName;
                            value.start = value.StartDate;
                            value.end = value.EndDate;
                            value.resourceId = (value.IsUserDeleted ? 0 : value.UserId);
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        sweetAlert('ERROR', 'No hay coneccion al servidor', 'error');
                    }
                },
                dayClick: function (date, jsEvent, view, resource) {
                    if (view.name == "month") {
                        $('#calendar').fullCalendar('gotoDate', date);
                        $('#calendar').fullCalendar('changeView', 'agendaDay');
                    }
                },
                eventClick: function (event, jsEvent, view) {
                    var c = [];
                    var content = [];
                    c[0] = $('#tooltip_content_1').html();
                    c[1] = $('#tooltip_content_2').html();
                    c[2] = $('#tooltip_content_3').html();
                    c[3] = $('#tooltip_content_4').html();
                    c[0] = c[0].replace("_PatientId_", event.PatientId);
                    c[1] = c[1].replace("_AppointmentId_", event.Id);
                    c[2] = c[2].replace("_AppointmentId_", event.Id);
                    c[2] = c[2].replace("_IsPaid_", event.IsPaid);
                    c[3] = c[3].replace("_AppointmentId_", event.Id);
                    c[3] = c[3].replace("_IsPaid_", event.IsPaid);
                    
                    if (event.IsPaid) {
                        content[0] = c[0];
                        content[1] = c[3];
                    }
                    else if (!event.IsUserDeleted) {
                        content[1] = c[1];
                        content[0] = c[0] + c[2];
                    }
                    else if (event.IsUserDeleted) {
                        content[0] = c[0];
                        content[1] = c[1];
                    }
                    
                    var instances = $.tooltipster.instances(this);
                    $.each(instances, function (i, instance) {
                        instance.content(content[i]);
                    });
                },
                eventDragStart: function (event, jsEvent, ui, view) {
                    clearToolTip();
                },
                eventMouseout: function (calEvent, jsEvent) {

                },
                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                    let nowdate = $.fullCalendar.moment(new Date());
                    if (view.name == "month") {
                        let today = $.fullCalendar.moment(nowdate.format('YYYY[-]MM[-]DD'));
                        let appoinmentday = $.fullCalendar.moment(event.start.format('YYYY[-]MM[-]DD'));
                        if (appoinmentday.isAfter(today) || appoinmentday.isSame(today)) {
                            if (!event.IsUserDeleted && event.resourceId == 0) {
                                swal("", "Accion Invalida", "warning")
                                revertFunc();
                                return;
                            }
                            if (event.IsUserDeleted && event.resourceId == 0) {
                                return;
                            }
                            swal({
                                title: "Cambiar Cita Para",
                                text: event.start.format("dddd D [de] MMMM [del] YYYY, hh:mm:ss a"),
                                type: "info",
                                showCancelButton: true,
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: false
                            },
                           function (isConfirm) {
                               if (isConfirm) {
                                   let Appointment = {
                                       Id: event.id,
                                       StartDate: event.start.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                       EndDate: event.end.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                       UserId: event.resourceId,
                                       PatientId: event.PatientId,
                                       PatientName: event.PatientName
                                   };
                                   calenderAjax(Appointment, '@Url.Action("UpdateAppointment", "Agenda")', "Fecha Cambiada", "update");
                               } else {
                                   revertFunc();
                               }
                           });
                        } else {
                            swal({
                                title: "Fecha Invalida",
                                text: "",
                                type: "error",
                                timer: 1500,
                                showConfirmButton: true
                            });
                            revertFunc();
                        }
                    }
                    else if (view.name == "agendaDay" || view.name == "agendaWeek") {
                        let today = $.fullCalendar.moment(nowdate.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        let appoinmentday = $.fullCalendar.moment(event.start.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        if (appoinmentday.isAfter(today) || appoinmentday.isSame(today)) {
                            if (!event.IsUserDeleted && event.resourceId == 0) {
                                swal("", "Accion Invalida", "warning")
                                revertFunc();
                                return;
                            }
                            if (event.IsUserDeleted && event.resourceId == 0) {
                                return;
                            }
                            swal({
                                title: "Cambiar Cita Para",
                                text: event.start.format("dddd D [de] MMMM [del] YYYY, hh:mm:ss a"),
                                type: "info",
                                showCancelButton: true,
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    let Appointment = {
                                        Id: event.id,
                                        StartDate: event.start.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                        EndDate: event.end.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                        UserId: event.resourceId,
                                        PatientId: event.PatientId,
                                        PatientName: event.PatientName
                                    };
                                    calenderAjax(Appointment, '@Url.Action("UpdateAppointment", "Agenda")', "Fecha Cambiada", "update");
                                } else {
                                    revertFunc();
                                }
                            });
                        }
                        else {
                            swal({
                                title: "Fecha Invalida",
                                text: "",
                                type: "error",
                                timer: 1500,
                                showConfirmButton: true
                            });
                            revertFunc();
                        }
                    }

                },
                eventAfterAllRender: function (view) {
                    let c1 = $('#tooltip_content_1').html();
                    let c2 = $('#tooltip_content_2').html();
                    let c3 = $('#tooltip_content_3').html();
                    let c4 = $('#tooltip_content_4').html();
                    $('.fc-event').tooltipster({
                        content: c1,
                        contentAsHTML: true,
                        multiple: true,
                        trigger: 'custom',
                        triggerOpen: {
                            click: true,
                            tap: true,
                        },
                        triggerClose: {
                            click: true,
                            tap: true
                        },
                        contentCloning: false,
                        interactive: true,
                        side: 'top',
                        theme: 'tooltipster-shadow'

                    });
                    $('.fc-event').tooltipster({
                        content: c2,
                        multiple: true,
                        contentAsHTML: true,
                        trigger: 'custom',
                        triggerOpen: {
                            click: true,
                            tap: true,
                        },
                        triggerClose: {
                            click: true,
                            tap: true
                        },
                        contentCloning: false,
                        interactive: true,
                        side: ['left','bottom'],
                        theme:'tooltipster-shadow'
                    });
                },
                eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {
                    if (!event.IsUserDeleted && event.resourceId == 0) {
                        swal("", "Accion Invalida", "warning")
                        revertFunc();
                        return;
                    }
                    if (event.IsUserDeleted && event.resourceId == 0) {
                        return;
                    }
                    clearToolTip();
                    let nowdate = $.fullCalendar.moment(new Date());
                    if (view.name == "agendaDay" || view.name == "agendaWeek") {
                        let today = $.fullCalendar.moment(nowdate.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        let appoinmentday = $.fullCalendar.moment(event.start.format('YYYY[-]MM[-]DD[T]HH:mm:ss'));
                        if (appoinmentday.isAfter(today) || appoinmentday.isSame(today)) {
                            swal({
                                title: "Cambiar duracion de la Cita",
                                text: event.start.format("hh:mm:ss a") + " a " + event.end.format("hh:mm:ss a"),
                                type: "info",
                                showCancelButton: true,
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok!",
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    let Appointment = {
                                        Id: event.id,
                                        StartDate: event.start.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                        EndDate: event.end.format('YYYY-MM-DD[T]HH:[00]:ss'),
                                        UserId: event.UserId,
                                        PatientId: event.PatientId,
                                        PatientName: event.PatientName
                                    };
                                    calenderAjax(Appointment, '@Url.Action("UpdateAppointment", "Agenda")', "Fecha Cambiada", "update");
                                } else {
                                    revertFunc();
                                }
                            });
                        }
                        else {
                            swal({
                                title: "Fecha Invalida",
                                text: "",
                                type: "error",
                                timer: 1500,
                                showConfirmButton: true
                            });
                            revertFunc();
                        }
                    }
                }
            });

        });


        function calenderAjax(Appointment, url, message, action) {
            let jsondata = JSON.stringify(Appointment);
            $.ajax({
                url: url,
                dataType: 'json',
                contentType: 'application/json; charset=UTF-8',
                type: 'POST',
                data: jsondata,
                success: function (data) {
                    data.id = data.Id;
                    data.title = data.PatientName;
                    data.start = data.StartDate;
                    data.end = data.EndDate;
                    data.editable = true;
                    if (action == "add") {
                        data.color = '#66A3D2'
                        $('#calendar').fullCalendar('renderEvent', data, true);
                    }
                    swal(message, "", "success");
                }
            });
        }

    </script>
}