﻿@using Microsoft.Ajax.Utilities
@{
    ViewBag.name = (string) Session["UserName"] ?? " ";
    ViewBag.photo = (string) Session["UserPhoto"] ?? "/Images/noavailable.png";
    ViewBag.preferences = (string) Session["UserPreferences"] ?? " ";
    string role = (string) Session["UserRoles"] ?? " ";
    role = role.IsNullOrWhiteSpace() ? "" : role.Substring(0, role.Length - 1);
    string[] roles = role.Split(',');
    ViewBag.roles = roles;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>DentaDom | @ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", false)
    }
    @Styles.Render("~/plugins/sweetAlertStyles")
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css"/>
    <link href="~/Scripts/Framework/CCS/Framework.css" rel="stylesheet"/>
    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")

    @* Framework *@
    @Styles.Render("~/bundles/framework/css")


</head>

<body class="@ViewBag.preferences.Replace(" fixed ", "")">


<!-- Skin configuration box -->
@Html.Partial("_SkinConfig")

<!-- Wrapper-->
<!-- PageClass give you ability to specify custom style for specific view based on action -->
<div id="wrapper" class="@Html.PageClass()">
    @if (Request.Browser.IsMobileDevice)
    {
         <!-- Navigation Mobile Device-->
        @Html.Partial("_NavigationMobile")
    }
    else
    {
         <!-- Navigation -->
        @Html.Partial("_Navigation")
    }
   
    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

        <!-- Top Navbar -->
        @Html.Partial("_TopNavbar")

        <!-- Main view -->
        @RenderBody()

        <!-- Footer -->
        @Html.Partial("_Footer")

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    @Html.Partial("_RightSidebar")

</div>
<!-- End wrapper-->

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/plugins/sweetAlert")
    <!--add this pluggin directly into the code your working, this is messing up my code. P.S. Gary-->
         @*@Scripts.Render("~/bundles/jqueryvalidation")*@

    <!-- Skin config script - only for demo purpose-->
   
   
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/skinConfig")
    @Scripts.Render("~/plugins/idletimer")
   
    <div>
          <div class="modal inmodal in" id="item-modal" role="dialog"></div>
    </div>
    <script>
        $('document').ready(function () {
            //script para el seteo de temas y preferencias
            localStorage.clear();
            $('.save-preferences')
                .click(function() {
                    let bodyClass = $('body').attr("class").replace(' pace-done', '').replace('pace-done ', '');
                    let footerClass = $('.footer').attr("class").replace('footer', '');
                    let preferences = { preferences: (bodyClass + footerClass + " ").replace("  ", " ") };
                    let jsondata = JSON.stringify(preferences);
                    $.ajax({
                        url: '@Url.Action("SetUserPreferences", "Account")',
                        dataType: 'json',
                        contentType: 'application/json; charset=UTF-8',
                        type: 'POST',
                        data: jsondata,
                        success: function(data) {
                            swal("Configuracion Guardada", "", "success");
                        }
                    });
                });
            //conteo para la inactividad
            $(document).idleTimer(30000000);//30 seg

            //cuando el usuario esta inactivo
            $(document).on("idle.idleTimer", function (event, elem, obj) {
                var closeInSeconds = 5,
                 displayText = "El programa se cerrara en #1 segundos.",
                 timer;

                swal({
                    type: "warning",
                    title: "Sesion Expirada!",
                    text: displayText.replace(/#1/, closeInSeconds),
                    timer: closeInSeconds * 1000,
                    showConfirmButton:false
                }, function (isConfirm) {
                    if (isConfirm) {
                        clearInterval(timer);
                        swal.close();
                    } else {
                        window.location.replace("@Url.Action("Logout", "Account")");
                        swal.close();
                    }
                });

                timer = setInterval(function () {
                    closeInSeconds--;
                    if (closeInSeconds < 0) {
                        clearInterval(timer);
                    }
                    $('.sweet-alert > p').text(displayText.replace(/#1/, closeInSeconds));
                }, 1000);
            });

            //cuando el usuario esta activo
            $(document).on("active.idleTimer", function (event, elem, obj, triggerevent) {
                swal.close();
            });
        });
</script>
</body>
</html>
