﻿@{ 
    string roles = (string)Session["UserRoles"] ?? " ";
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src=@ViewBag.photo width="50" height="50" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@ViewBag.name</strong>
                            </span> <span class="text-muted text-xs block">@{
                                for(int i = 0; i < ViewBag.roles.Length; i++)
                                {
                                    @ViewBag.roles[i]
                                    if (i + 1 < ViewBag.roles.Length)
                                    {
                                        <br />
                                    }

                                }
                            } <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("LogOut", "Account")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    DD
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home")">
                <a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Dashboard</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Agenda")">
                <a href="#"><i class="fa fa-calendar-o"></i> <span class="nav-label" data-i18n="nav.agenda">Agenda</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Agenda", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "DentistAgenda")"><a href = "@Url.Action("DentistAgenda", "Agenda")">Mis Citas</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Patient")">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.patient">Pacientes</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Patient", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "SearchPatient")"><a href="@Url.Action("SearchPatient", "Patient")">Consultar Pacientes</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>