﻿@{ 
    string roles = (string)Session["UserRoles"] ?? " ";
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src=@ViewBag.photo width="50" height="50" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@ViewBag.name</strong>
                            </span> <span class="text-muted text-xs block">@{
                                for(int i = 0; i < ViewBag.roles.Length; i++)
                                {
                                    @ViewBag.roles[i]
                                    if (i + 1 < ViewBag.roles.Length)
                                    {
                                        <br />
                                    }

                                }
                            } <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("LogOut", "Account")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    DD
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home")">
                <a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">Dashboard</span></a>
            </li>
            @if (roles.Contains("Administrador")) { 
                <li class="@Html.IsSelected(controller: "Maintenance")">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Administracion</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Maintenance", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "UserMaintenance")"><a href="@Url.Action("UserMaintenance", "Maintenance")">Usuarios</a></li>
                        <li class="@Html.IsSelected(action: " MedicalProcedureMaintenance")"><a href="@Url.Action("MedicalProcedureMaintenance", "Maintenance")">Procedimientos</a></li>
                    </ul>
                </li>
            }

            @if (roles.Contains("Odontologo")|| roles.Contains("Secretaria") || roles.Contains("Administrador")) {
                <li class="@Html.IsSelected(controller: "Agenda")">
                    <a href="#"><i class="fa fa-calendar-o"></i> <span class="nav-label" data-i18n="nav.agenda">Agenda</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Agenda", cssClass: "in")">
                        @if (roles.Contains("Secretaria") || roles.Contains("Administrador")) { 
                        <li class="@Html.IsSelected(action: "Scheduler")"><a href="@Url.Action("Scheduler", "Agenda")">Intinerario</a></li>
                        }
                        @if (roles.Contains("Odontologo")) {    
                         <li class="@Html.IsSelected(action: "DentistAgenda")"><a href = "@Url.Action("DentistAgenda", "Agenda")">Mi Agenda</a></li>
                        }
                    </ul>
                </li>
            }

            @if (roles.Contains("Odontologo") || roles.Contains("Secretaria") || roles.Contains("Administrador")){
                <li class="@Html.IsSelected(controller: "Patient")">
                    <a href="#"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.patient">Pacientes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Patient", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "SearchPatient")"><a href="@Url.Action("SearchPatient", "Patient")">Consultar Pacientes</a></li>
                    </ul>
                </li>
            }
            @if (roles.Contains("Administrador")|| roles.Contains("Asistente Dental"))
            {
                <li class="@Html.IsSelected(controller: "Inventory")">
                    <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label" data-i18n="nav.inventory">Inventario</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Inventory", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Materials")"><a href="@Url.Action("Materials", "Inventory")">Materiales</a></li>
                        <li class="@Html.IsSelected(action: "Suppliers")"><a href="@Url.Action("Suppliers", "Inventory")">Suplidores</a></li>
                        <li class="@Html.IsSelected(action: "Transactions")"><a href="@Url.Action("Transactions", "Inventory")">Movimientos</a></li>
                    </ul>
                </li>
            }
            @if (roles.Contains("Administrador") || roles.Contains("Odontologo") || roles.Contains("Secretaria"))
            {
            <li class="@Html.IsSelected(controller: "InvoiceReport") @Html.IsSelected(controller: "InvoiceReportDetailed")">
                <a href = "#" ><i class="fa fa-calculator"></i> <span class="nav-label" data-i18n="nav.invoiceReport">Cuentas por Cobrar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "InvoiceReport", cssClass: "in")">
                    <li class="@Html.IsSelected(controller: "IncomingReceipt", action: "New")"><a href = "@Url.Action("Index", "IncomingReceipt")">Recibos de Ingreso</a></li>
                    <li class="@Html.IsSelected(controller: "IncomingReceipt", action: "New")"><a href ="@Url.Action("Index", "IncomingReceipt")">Anular Recibos de Ingreso</a></li>
                </ul>
            </li>  
            }
            
            @if (roles.Contains("Administrador"))
            {
                <li class="@Html.IsSelected(controller: "InvoiceReport") @Html.IsSelected(controller: "InvoiceReportDetailed")">
                    <a href = "#" ><i class="fa fa-file"></i> <span class="nav-label" data-i18n="nav.invoiceReport">Reportes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "InvoiceReport", cssClass: "in")">
                        <li class="@Html.IsSelected(controller: "InvoiceReport", action: "New")"><a href = "@Url.Action("New", "InvoiceReport")">Reporte de Facturas Resumido</a></li>
                        <li class="@Html.IsSelected(controller: "InvoiceReportDetailed", action: "New")"><a href = "@Url.Action("New", "InvoiceReportDetailed")">Reporte de Facturas Detallado</a></li>
                    </ul>
                </li>  
            }
        </ul>
    </div>
</nav>