﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>  
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Bienvenido a DentaDom</span>
            </li>
            <li>
                <a href="@Url.Action("LogOut", "Account")">
                    <i class="fa fa-sign-out"></i> Cerrar Sesion
                </a>
            </li>
        </ul>
    </nav>
</div>