﻿@model WebApp.ViewModels.MaintenanceViewModel.IndexMaintenance

@Html.Partial("_PageTitle", Model.Title)

<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
    <div class="row m-b-xs new-item-action">
        <div class="col-lg-12 col-md-12 col-xs-12">
            @{
                if (Model.NewButtonUrl != null)
                {
                   <a class="m-r-xs pull-right btn btn-primary newBtnIndex display-modal" data-url-action="@Model.NewButtonUrl" id="new-item"><i class="fa fa-plus m-r-xs"></i> Nuevo Usuario</a>
                }
            }
        </div>
    </div>
   
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="table-responsive">
                @Html.Raw(Model.IndexBody)
            </div>
        </div>
    </div>
</div>
