﻿@{
    Layout = null;
}
@{
    ViewBag.name = (string)Session["UserName"] ?? " ";
    ViewBag.photo = (string)Session["UserPhoto"] ?? "/Images/noavailable.png";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Lockscreen</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    
    <div class="middle-box text-center lockscreen animated fadeInDown">
        <div>
            <div class="m-b-md">
                <img alt="image" class="img-circle circle-border" width="120" height="120" src="@ViewBag.photo">
            </div>
            <h3>Hola, @ViewBag.name</h3>
            <p>Opps, la aplicacion movil es solo para odontologos</p>
            <form class="m-t" role="form" action="#">
                <a class="btn btn-primary block full-width" href="@Url.Action("Logout","Account")">Volver</a>
            </form>
        </div>
    </div>

</body>

</html>
