﻿@model WebApp.ViewModels.User.EditUserViewModel

<style type="text/css">
    .select2-container {
        width: 53% !important;
    }

    .modal-dialog {
        width: 57% !important;
    }
</style>
<div class="row">
    @Html.HiddenFor(x => x.Id)
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(x => x.Name, new {@class = "control-label"})
            @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Name, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.LastName, new {@class = "control-label"})
            @Html.TextBoxFor(x => x.LastName, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.LastName, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.UserName, new {@class = "control-label"})
            @Html.TextBoxFor(x => x.UserName, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.UserName, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control",value = Model.Password })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", value = Model.Password })
            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.SelectedRoleType, new {@class = "control-label col-md-12 no-padding"})
            @Html.DropDownListFor(x => x.SelectedRoleType, Model.RoleType, new {@class = "form-control select2 col-md-12", multiple = "multiple"})
            @Html.ValidationMessageFor(x => x.SelectedRoleType, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(x => x.Photo)
            <label class="btn btn-default btn-file control-label">
                <input type="file" name="Photo" id="Photo"/>
            </label>
        </div>
        @if (Model.PhotoFromDb == null)
        {
            <img id="imageRender" src="#" width="200" height="200"/>
        }
        else
        {
            <img id="imageRender" src="data:image;base64,@System.Convert.ToBase64String(Model.PhotoFromDb)" width="200" height="200"/>
        }
    </div>

</div>

<link href="~/Scripts/Framework/CCS/Framework.css" rel="stylesheet" />
<script src="~/Scripts/Framework/UtilControls.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageRender').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#Photo").change(function () {
        readURL(this);
    });
</script>