﻿
@using Domain.Global.Extensions
@model WebApp.ViewModels.User.UsersViewModel

<table class="table table-striped table-bordered table-hover jq-Datatable">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Usuario</th>
            <th>Roles</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td style="width: 15%; height: 10%">
                    @if (user.Photo != null)
                    {
                        <img id="" class="img-circle" src="@user.Photo" style="width:50px" />
                    }
                    else
                    {
                        <img id="" class="img-circle" src="~/Images/noavailable.png" style="width:50px" />
                    }
                </td>

                    <td>@user.Name</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    <td>
                    @foreach (var rol in user.Roles) {
                        @rol.Description <br/>
                    }
                    </td>
                    <td>
                        @if (user.Id != 1)
                        {
                            <button class="m-l-xs btn btn-xs btn-default display-modal"  data-toggle="tooltip" title="Actualizar" data-url-action="@Url.Action("Edit","Maintenance",new {id=@user.Id})"><i class="fa fa-edit"></i></button>
                        }
                        @if(user.Id != 1  && SessionHelper.GetUser() != user.Id) { 
                            <button class="m-l-xs btn btn-xs btn-danger delete-user" data-toggle="tooltip" title="Eliminar" data-delete="@user.Id"><i class="fa fa-times"></i></button>
                        }
                    </td>
            </tr>
        }
    </tbody>
</table>
