﻿@using Domain.Global.Constants
@model WebApp.ViewModels.IncomingReceipt.NewIncomingReceiptViewModel

@Html.HiddenFor(x => x.CreditInvoiceId)
@Html.HiddenFor(x => x.CurrentBalance)
<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-6">
        <h4 class="pull-left">
            @{
                <text> @InvoiceNumberPrefix.InvoiceNumber @Model.InvoiceNumber </text>
            }

        </h4>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6">
        <h4 class="pull-right"> Fecha : @DateTime.Now.Date</h4>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="hr-line-solid"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 col-md-12 col-xs-12">
            @Html.LabelFor(x => x.CustomerName, new {@class = "control-label"})
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            @Html.TextBoxFor(x => x.CustomerName, new {@class = "form-control", disabled = "disabled"})
        </div>
    </div>
</div>

<div class="row" style="margin-top: 33px !important;">
    <div class="form-group">
        <div class="col-lg-6 col-md-6 col-xs-6">
            @Html.LabelFor(x => x.MedicalProcedures, new {@class = "control-label"})
            <ul>
                @foreach (var procedure in Model.MedicalProcedures)
                {
                    <li>@procedure.Description</li>
                }
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            @Html.LabelFor(x => x.CurrentBalance, new {@class = "control-label"})
            @Html.TextBoxFor(x => x.CurrentBalance, new {@class = "form-control", disabled = "disabled"})
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px !important;">
    <div class="form-group">
        <div class="col-lg-6 col-md-6 col-xs-6 col-lg-offset-6">
            @Html.LabelFor(x => x.Amount, new {@class = "control-label pull-right"})
            @Html.TextBoxFor(x => x.Amount, new {@class = "form-control pull-right text-right", @type="number"})
            @Html.ValidationMessageFor(x => x.Amount, "", new {@class="text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12 col-md-12 col-xs-12">
            @Html.LabelFor(x => x.Comment, new {@class = "control-label"})
            @Html.TextAreaFor(x => x.Comment, new {@class = "form-control"})
        </div>
    </div>
</div>
<script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $(document).on("click", "input[data-modal-ajax-submit='true']", function (event) {
            debugger;
            var button = $(this);
            var buttonForm = button.closest('form');
            var formMethod = buttonForm.attr('method');
            var formAction = buttonForm.attr('action');

            $.validator.unobtrusive.parse(buttonForm);

            buttonForm.submit(function (e) {
                debugger;
                e.preventDefault();
                if (buttonForm.valid()) {

                    var formData = new FormData(this);
                    //var token = $('[name=__RequestVerificationToken]').val();

                    //formData.append("__RequestVerificationToken",token);

                    $.ajax({
                        type: formMethod,
                        url: formAction,
                        data: formData,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {

                        },
                        success: function (data) {
                            debugger;
                            if (getResponseModelMessage(data));

                            if (data.ExcecutedSuccesfully) {
                                swal({
                                    title: "Exito",
                                    text: "Recibo de ingreso Creado con Exito",
                                    type: "success",
                                    confirmButtonClass: "btn-success",
                                    confirmButtonText: "Ok!",
                                    closeOnConfirm: true
                                }),function() {
                                    
                                };
                                location.reload();
                            }
                        },
                        error: function (xhr) {

                        }
                    });
                }

            });
        });
    });

    function getResponseModelMessage(data) {
        debugger;
        if (!data.hasOwnProperty("ExcecutedSuccesfully"))
            return false;

        if (data.ExcecutedSuccesfully.toString() === "true" || data.ExcecutedSuccesfully.toString() === "True") {

            $("#summary-info").empty();

            $("#summary-info").addClass("alert alert-success");
            $("#summary-info").append("<div class='col-md-offset-2'><label><center>Datos Guardados Exitosamente!</center></label></div>");
            return true;

        } else {
            $("#summary-info").empty();
            $("#summary-info").addClass("alert alert-danger");
            $("#summary-info").append("<div><label>" + data.Messages[0] + "</label></div>");

            for (var i = 0; i < data.Messages.length() ; i++) {
                $("#summary-info > div").append("<label>" + data.Messages[i] + "</label>");
            }
        }
        return false;
    }

    $(".refreshPage").click(function () {
        location.reload();
    });
</script>