﻿@model WebApp.ViewModels.IncomingReceipt.IncomingReceiptViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Recibos de Ingreso</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                Cuentas por Cobrar
            </li>
            <li class="active">
                <strong>Facturas pendientes de pago</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight white-bg m-t-lg">
    <div class="row m-b-xs">
        @*<div class="col-lg-12 col-md-12 col-xs-12">
            <a class="m-r-xs pull-right btn btn-primary newBtnIndex display-modal" data-url-action="@Url.Action("New","IncomingReceipt")" id="new-item"><i class="fa fa-plus m-r-xs"></i> Crear Recibo de Ingreso</a>
        </div>*@
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered jq-Datatable table-hover" style="width:100%;">
                    <thead>
                    <tr>
                        <th>No. Factura</th>
                        <th>Paciente</th>
                        <th>Fecha de Facturacion</th>
                        <th>Balance Actual</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var creditInvoice in @Model.CreditInvoices)
                    {
                        <tr id="@creditInvoice.Id" class="canSelect" data-url-action="@Url.Action("New","IncomingReceipt", new { creditInvoiceId = @creditInvoice.Id})">
                            <td><span>DD-000-</span>@creditInvoice.Invoice.Id</td>
                            <td>@creditInvoice.Invoice.Patient.CompleteName</td>
                            <td>@creditInvoice.Invoice.CreatedOn</td>
                            <td>@creditInvoice.Balance</td>
                            <td><a href="Invoice/Details" class="btn btn-default btn-tooltip btn-sm" title="Ver detalles de factura"><i class="fa fa-info-circle"></i></a></td>
                        </tr>
                    }
                   
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function() {

            $(".display-modal")
                .click(function() {
                    var command = $(this);
                    var url = command.attr("data-url-action");
                    $.get(url,
                        function(data) {
                            var modalPage = $("#item-modal");
                            modalPage.html(data);
                            modalPage.modal({
                                backdrop: "static",
                                keyboard: false
                            });
                        });
                });

            $(".canSelect")
                .dblclick(function () {
                    $(".canSelect").removeClass("bg-primary-light");
                    $(this).addClass("bg-primary-light");

                    var command = $(this);
                    var url = command.attr("data-url-action");
                    $.get(url,
                        function (data) {
                            var modalPage = $("#item-modal");
                            modalPage.html(data);
                            modalPage.modal({
                                backdrop: "static",
                                keyboard: false
                            });
                        });
                });


            // Jquery Datatable
            $(".jq-Datatable")
                .dataTable({
                    language: {
                        url: "../Scripts/plugins/dataTables/Spanish.json"
                    },
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons: [
                        { extend: "copy", exportOptions: { columns: [1, 2, 3] } },
                        { extend: "csv", exportOptions: { columns: [1, 2, 3] } },
                        { extend: "excel", exportOptions: { columns: [1, 2, 3] } },
                        { extend: "pdf", exportOptions: { columns: [1, 2, 3] } },
                        {
                            extend: "print",
                            exportOptions: { columns: [1, 2, 3] },
                            customize: function(win) {
                                $(win.document.body).addClass("white-bg");
                                $(win.document.body).css("font-size", "10px");

                                $(win.document.body)
                                    .find("table")
                                    .addClass("compact")
                                    .css("font-size", "inherit");
                            }
                        }
                    ],
                    "order": []
                });

            $(".btn-tooltip").tooltip();


            $(".canSelect").click(function() {

                $(".canSelect").removeClass("bg-primary-light");
                $(this).addClass("bg-primary-light");
            });

        });
    </script>
}

