﻿@model InvoiceViewModel
@{
    ViewBag.Title = "Factura";
}
@section Styles {
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
<style>

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 0px solid #aaa;
        border-bottom-width: thin;
        border-radius: 0px;
        border-top-width: inherit;
    }

    .select2-container--open .select2-dropdown--below {
        border-bottom-width: thin;
        border-left: 0;
        border-radius: 0;
        border-right: none;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .total, .taxAmount {
        background-color: transparent !important;
        border: none !important;
        text-align: right;
    }

    .invoiceTotalsControls {
        background-color: #fff;
        border: 0px solid #aaa;
        border-bottom-width: thin;
        border-radius: 0px;
        border-top-width: inherit;
    }

    .select2-container--default .select2-selection--single { font-size: 15px !important; }

</style>
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8 col-md-8 col-xs-8">
        <h2>Factura</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Facturacion</a>
            </li>

            <li class="active">
                <strong>Factura</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4">
        <div class="title-action">
        </div>
    </div>
</div>

<form method="post" action="@Url.Action("CreateInvoice", "Invoice")">
    <div id="select-multiple-table">
        <select multiple class="hidden" name="procedureList" id="procedureList"></select>
    </div>
    @Html.HiddenFor(x => x.AppointmentId)
    @Html.HiddenFor(x => x.PatientId)
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm-6">
                            <address>
                                <strong>@Model.Branch.Name</strong><br>
                                @Model.Branch.Address1<br>
                                @Model.Branch.Address2<br>
                                <abbr title="Phone">Tel:</abbr> @Model.Branch.Tel
                                <p>
                                    <span><strong>Fecha Actual:</strong> @DateTime.Now.ToShortDateString()</span>
                                </p>
                            </address>
                        </div>

                        <div class="col-sm-6 text-right">
                            <h4>Factura No.</h4>
                            <h4 class="text-navy">GDP-000567F7-001</h4>
                            <span>Paciente:</span>
                            <address>
                                <strong>@Model.Patient.CompleteName</strong><br>
                                @{
                                    if (Model.Patient.Phones != null && Model.Patient.Phones.Any())
                                    {
                                        foreach (var phone in Model.Patient.Phones)
                                        {
                                            <abbr title="Phone">Tel: @phone </abbr>
                                        }
                                    }
                                }
                            </address>
                            <p>
                                <span><strong>Dentista:</strong> @Model.DentistName</span>
                            </p>
                            <p>
                                <span><strong>Fecha Cita:</strong> @Model.Appointment.StartDate.ToShortDateString()</span>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5%;">
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <div class="form-group">
                                @Html.LabelFor(x => x.PaymentMethodSelected)
                                @Html.DropDownListFor(x => x.PaymentMethodSelected, Model.PaymentMethods, new {@class = "form-control", id = "paymentMethodSelected", style = "font-size: 14px !important;"})
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-2">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Discount)
                                @Html.TextBoxFor(x => x.Discount, new {@class="form-control", @type ="number", @min="0", @max="100"})
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2.5%;">
                        <div class="col-md-8 col-lg-8 col-xs-8">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ProcedureSelected, new {@class = "col-md-12 no-padding"})
                                @Html.DropDownListFor(x => x.ProcedureSelected, Model.MedicalProcedures, new {@class = "form-control select2", id = "MedicalProcedureSelected", style = "font-size: 15px !important;"})
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-2">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Btn)
                                <button type="button" class="btn btn-primary form-control add"><i class="fa fa-plus"></i> Agregar</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive m-t">
                        <table class="table table-responsive invoice-table" id="invoice-table">
                            <thead>
                            <tr>
                                <th>Procedimiento</th>
                                <th>Descuento</th>
                                <th>Precio</th>
                                <th>Impuesto</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div><!-- /table-responsive -->
                    <div class="row">
                        <div class="pull-right">
                            <table class="table invoice-totals">
                                <tbody>
                                <tr>
                                    <td>
                                        <strong>Sub Total :</strong>
                                    </td>
                                    <td>
                                        <div>
                                            <input class="subTotal form-control invoiceTotalsControls" style="text-align: right;" readonly="readonly" id="subTotal" name="subTotal" value="0" required="required"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Total Impuestos :</strong>
                                    </td>
                                    <td>
                                        <div>
                                            <input class="taxesTotal form-control invoiceTotalsControls" style="text-align: right;" readonly="readonly" id="taxesTotal" name="taxesTotal" value="0" required="required"/>
                                        </div>
                                    </td>
                                </tr>
                                    <tr>
                                        <td>
                                            <strong>Total Descuento :</strong>
                                        </td>
                                        <td>
                                            <div>
                                                <input class="descTotal form-control invoiceTotalsControls" style="text-align: right;" readonly="readonly" id="descTotal" name="taxesTotal" value="0" required="required" />
                                            </div>
                                        </td>
                                    </tr>
                                <tr>
                                    <td>
                                        <strong>TOTAL :</strong>
                                    </td>
                                    <td>
                                        <div>
                                            <input class="generalTotal form-control invoiceTotalsControls" style="text-align: right;" readonly="readonly" id="generalTotal" value="0" name="generalTotal" required="required"/>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-4 pull-right">
                            <input class="btn btn-primary btn-block fa-input createInvoice" type="submit" value="&#xf02f; Facturar" style="font-size: 18px !important;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.Hidden("RedirectTo", Url.Action("InvoicePrint", "Invoice"));


@section Scripts {


<script src="~/Scripts/jquery-2.1.1.min.js"></script>
@Scripts.Render("~/bundles/jqueryValidation")             
@Scripts.Render("~/plugins/dataTables")
@Scripts.Render("~/plugins/flot")
<script>

    var removeSelection = function(obj, obj2) {
        debugger;
        //This removes the row (<tr>) where the remove filter button is
        $("#select-multiple-table > select #" + obj2 + "").remove();
        $(obj).parent().parent().parent().remove();
        calculateTotals();
        return false;
    };

    var validateTableRows = function(procedure) {
        debugger;
        var result = false;
        $('#invoice-table > tbody > tr')
            .each(function() {
                debugger;
                if (String($(this).find(".procedure").html()) === procedure) {
                    result = true;
                }
            });
      
        return result;
    };

    function bindPriceChange() {
        $(":input[class='price form-control']")
            .bind('keyup mouseup',
                function () {
                    debugger;
                    var price = this.closest('input').value;
                    if (price === "") {
                        return;
                    }
                    var tr = this.closest("tr").id;
                    var totalTag = $("#" + tr + " .total");
                    var discountTag = $("#" + tr + " .discount");
                    var taxAmountTag = $("#" + tr + " .taxAmount");
                    var taxAmountUpdated = 0;

                    totalUpdated = parseFloat(price) + parseFloat(taxAmountTag.val());
                    totalUpdated = parseFloat(totalUpdated) - parseFloat(discountTag.val());
                    taxAmountUpdated = 0;//parseFloat((parseFloat(price) * 0.18)).toFixed(2);
                    $(taxAmountTag).val(taxAmountUpdated);
                    $(totalTag).val(parseFloat(totalUpdated).toFixed(2));
                    calculateTotals();
                });
    };

    function bindDiscountChange() {
        $(":input[class='discount form-control']")
            .bind('keyup mouseup',
                function () {
                    debugger;
                    var discount = this.closest('input').value;
                    if (discount === "") {
                        return;
                    }
                    var tr = this.closest("tr").id;
                    var totalTag = $("#" + tr + " .total");
                    var priceTag = $("#" + tr + " .price");
                    var taxAmountTag = $("#" + tr + " .taxAmount");

                    totalUpdated = parseFloat(priceTag.val()) + parseFloat(taxAmountTag.val());

                    if (parseFloat(discount) > totalUpdated)
                        swal("Advertencia", "El Descuento no puede ser mayor que el Precio del Procedimineto", "warning");

                    totalUpdated = parseFloat(totalUpdated) - parseFloat(discount);

                    $(totalTag).val(totalUpdated);
                    calculateTotals();
                });
    };

    function bindDiscountGeneralChange() {
        $("#Discount")
            .bind('keyup mouseup',
                function () {
                    calculateTotals();
                });
    };

    function calculateTotals() {
        var totalscope = 0;
        var subtotal = 0;
        var tax = 0;
        var discountTotal = 0;
        debugger;
        $('#invoice-table > tbody > tr')
            .each(function () {
                debugger;
                var testSubtotal = parseFloat($(this).find(".total").val()).toFixed(2);

                subtotal = parseFloat(subtotal) + parseFloat(testSubtotal);
                //tax = parseFloat(tax).toFixed(2) + parseFloat($(this).find(".taxAmount").val()).toFixed(2);
            });
        debugger;
        var discountPercent = $("#Discount").val();
       
        subtotal = parseFloat(subtotal);

        if (parseFloat(discountPercent) !== "undefined" && parseFloat(discountPercent) >=0) {
            discountTotal = parseFloat(subtotal * ((parseFloat(discountPercent)) / 100)).toFixed(2);
        }
        totalscope = parseFloat(subtotal).toFixed(2) - parseFloat(tax) - parseFloat(discountTotal);

        $("#subTotal").val(subtotal);
        $("#descTotal").val(discountTotal);
        $("#taxesTotal").val(tax);
        $("#generalTotal").val(totalscope);
    };


    $(document)
        .ready(function() {

            $(".add")
                .click(function() {
                    debugger;
                    var medicalProcedure = $("#MedicalProcedureSelected :selected").text();
                    var medicalProcedureId = $("#MedicalProcedureSelected :selected").val();
                    var splited = medicalProcedure.split("-");
                    var description = splited[0];
                    var price = 0;
                    if (description !== "") {
                        price = splited[1].trim();
                    }
                    var taxAmount =0;
                    var total = parseFloat(price) + parseFloat(taxAmount);
                    var totalUpdated;
                    var uniqueId = new Date().getTime();

                    if (medicalProcedure === "") {
                        swal("Advertencia", "Debe Seleccionar un Procedimiento", "warning");
                        return;
                    }

                    var row = ' <tr id =tr' +
                        uniqueId +
                        '>' +
                        '<td>' +
                        '<div><strong class="procedure">' +
                        description +
                        '</strong></div>' +
                        '</td>' +
                        '<td><div class="" ><input class="discount form-control" readonly="readonly" style="text-align: right;"  id="discount" name="discountList[]" required="true" type="number" min ="0" value="0"/></div></td>' +
                        '<td> <div class ="" ><input class="price form-control" style="text-align: right;"  id="price" name="priceList[]" required="true" type="number" min ="0" value="' +
                        price +
                        '"/></div></td>' +
                        '<td><div class=""> <input class="taxAmount form-control" style="text-align: right;"  readonly="readonly"  id="taxAmount" name="taxAmountList[]" required="true" value="' +
                        taxAmount +
                        '"/></div></td>' +
                        '<td><div class=""> <input class="total form-control" style="text-align: right;"  readonly="readonly"  id="total" name="totalList[]" required="true" value="' +
                        total +
                        '"/> </div></td>' +
                        '<td>' +
                        '<div><i id ="' +
                        uniqueId +
                        '" class="btn btn-xs fa fa-times fa-2x" style="color: red;" onclick="removeSelection(this, this.id);">' +
                        '</i></div>' +
                        '</td>' +
                        '</tr>';

                    if (validateTableRows(description) === false) {
                        debugger;
                        var selectedProcedure = '<option id="' +
                            uniqueId +
                            '" value="' +
                            medicalProcedureId +
                            '" selected></option>';

                        $("#procedureList").append(selectedProcedure);

                        $(".invoice-table > tbody").append(row);
                        bindDiscountChange();
                        bindPriceChange();
                        bindDiscountGeneralChange();
                        calculateTotals();

                    } else {
                        swal("Advertencia", "Este procedimiento ya esta agregado", "warning");
                        return;
                    }
                });
        });

</script>
<script src="~/Scripts/Framework/UtilControls.js"></script>
<script src="~/Scripts/app/Invoice.js"></script>
}


